<footer>
    <div id="inner_footer">
        <div id="foot">
            <div class="wrap">
                <div id="w-foot">
                    <div id="info"><img src="http://www.visiotech.es/templates/responsive/images/logo_gray.png"
                                        alt="Visiotech Gray" width="55%">
                        <div id="adress">
                            Parc d’activité ARBORA N°2<br>
                            69510 SOUCIEU EN JARREST<br>
                            {{ 'common.tel' |trans }}:  04 78 16 04 04<br>
                            {{ 'common.fax' | trans }}: 04 78 16 04 05<br>
                            {{ 'common.email' | trans }}: info@sfere-net.com<br>
                        </div>
                    </div>
                    <div id="web-links">
                        <ul class="menu-nav" id="web-map">
                            <li class="parent item83"><a
                                        href="http://www.visiotech.es/fr/entreprise"><span>Entreprise</span></a>
                                <ul>
                                    <li class="item88"><a href="http://www.visiotech.es/fr/entreprise/empresa"><span>Qui nous sommes</span></a>
                                    </li>
                                    <li class="item146"><a
                                                href="http://www.visiotech.es/fr/entreprise/entreprise"><span>Où sommes-nous?</span></a>
                                    </li>
                                </ul>
                            </li>

                            <li class="parent item84"><a href="http://www.visiotech.es/fr/contact"><span>Contact</span></a>
                                <ul>
                                    <li class="item89"><a
                                                href="http://www.visiotech.es/fr/contact/haute-new-client"><span>Commerciales</span></a>
                                    </li>
                                    <li class="item90"><a href="http://www.visiotech.es/fr/contact/contacter"><span>Informations</span></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>