<footer>
    <div id="inner_footer">
        <div id="foot">
            <div class="wrap">
                <div id="w-foot">
                    <div id="info">
                        {% image '@ArdetemSfereBundle/Resources/public/images/logo-grey.png'
                        output='/images/sfere.jpg' %}
                        <img class="footer-logo" src="{{ asset_url }}" alt="SFERE"/>
                        {% endimage %}
                        <div id="adress">
                            {{ 'intro.company.where.text'|trans|raw  }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>