<footer>
    <div id="inner_footer">
        <div id="foot">
            <div class="wrap">
                <div id="w-foot">
                    <div id="info">
                        {% image '@ArdetemSfereBundle/Resources/public/images/logo-grey.png'
                        output='/images/sfere.jpg' %}
                        <img class="footer-logo" src="{{ asset_url }}" alt="SFERE"/>
                        {% endimage %}
                        <div id="adress">
                            Parc d’activité ARBORA N°2<br>
                            69510 SOUCIEU EN JARREST<br>
                            {{ 'common.tel' |trans }}:  04 78 16 04 04<br>
                            {{ 'common.fax' | trans }}: 04 78 16 04 05<br>
                            {{ 'common.email' | trans }}: info@sfere-net.com<br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>