{% extends "ArdetemSfereBundle::layout.html.twig" %}
{% block page_content %}
<div id="page_style">
    <h1>
        SFERE
    </h1>
    <div id="adress">
        Parc d’activité ARBORA N°2<br>
        69510 SOUCIEU EN JARREST<br>
        Téléphone:  04 78 16 04 04<br>
        Fax: 04 78 16 04 05<br>
        Email: info@sfere-net.com<br>
    </div>
    </div>
{% endblock %}