{% extends "ArdetemSfereBundle::layout.html.twig" %}
{% block page_content %}
<div id="page_style">
    <div>

        <!-- BreezingForms V1.7.0 Stable (build 727) [Trinity] Copyright(c) 2008-2009 by Markus Bopp | FacileForms Copyright 2004-2006 by Peter Koch, Chur, Switzerland.  All rights reserved. -->
        <div class="bfClearfix" style="min-width:10px;width:100%;">
            <div class="bfClearfix" style="min-width:10px;width:100%;position:relative;overflow:hidden;">
                <script type="text/javascript">
                    <!--
                    ff_processor=new Object();ff_processor.okrun=true;ff_processor.ip='88.172.229.68';ff_processor.agent='Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/33.0.1750.149 Safari/537.36';ff_processor.browser='Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/33.0.1750.149 Safari/537.36';
                    ff_processor.opsys='unix';ff_processor.provider='Inconnu';ff_processor.submitted='2014-03-21 21:59:30';ff_processor.form=16;ff_processor.form_id='ff_form16';ff_processor.page=1;ff_processor.target=1;ff_processor.runmode=0;ff_processor.inframe=0;ff_processor.inline=0;
                    ff_processor.template=0;ff_processor.homepage='http://www.visiotech.es';ff_processor.mossite='http://www.visiotech.es';ff_processor.mospath='/home/visiotec/public_html';ff_processor.images='http://www.visiotech.es/components/com_facileforms/images';ff_processor.uploads='/home/visiotec/public_html/components/com_facileforms/uploads';
                    ff_processor.border=0;ff_processor.align=1;ff_processor.top=0;ff_processor.suffix='';ff_processor.status=null;ff_processor.message=null;ff_processor.record_id=null;ff_processor.showgrid=false;ff_processor.traceBuffer=null;
                    -->
                </script>
                <script type="text/javascript" src="http://www.visiotech.es/components/com_facileforms/facileforms.js"></script>
                <div id="ff_formdiv16" class="content_outline" style="height: 523px;">
                    <script type="text/javascript">
                        <!--

                        function checkFileExtensions(){
                            return true;
                        }
                        function bfCheckCaptcha(){if(checkFileExtensions())ff_submitForm2();}function ff_initialize(condition)
                        {}
                        var ff_currentpage=1;
                        var ff_currentheight=0;
                        var ff_elements=[['ff_elem224','ff_div224','Cabecera',1,224],['ff_div226','ff_div226','rectangulo',1,226],['ff_elem227','ff_div227','label_persona',1,227],['ff_elem228','ff_div228','Persona',1,228],['ff_elem244','ff_div244','imagen',1,244],['ff_elem229','ff_div229','label_poblacion',1,229],
                            ['ff_elem230','ff_div230','poblacion',1,230],['ff_elem245','ff_div245','label_cp',1,245],['ff_elem246','ff_div246','cp',1,246],['ff_elem247','ff_div247','label_provincia',1,247],['ff_elem248','ff_div248','provincia',1,248],['ff_elem231','ff_div231','label_telefono',1,231],
                            ['ff_elem232','ff_div232','Telefono',1,232],['ff_elem233','ff_div233','label_mail',1,233],['ff_elem234','ff_div234','Mail',1,234],['ff_elem235','ff_div235','label_observaciones',1,235],['ff_elem236','ff_div236','observaciones',1,236],['ff_elem237','ff_div237','Privacidad',1,237],
                            ['ff_elem241','ff_div241','botonenviar',1,241],['ff_elem249','ff_div249','label_pais',1,249],['ff_elem250','ff_div250','pais',1,250],['ff_elem252','ff_div252','conocido',1,252],['ff_elem225','ff_div225','label_titulo',1,225],['ff_elem243','ff_div243','label_final',2,243]
                        ];
                        function ff_resizepage(mode,value)
                        {var height=0;if(mode>0){for(var i=0;i<ff_elements.length;i++){if(mode==2||ff_elements[i][3]==ff_currentpage){e=document.getElementById(ff_elements[i][1]);if(e){h=e.offsetTop+e.offsetHeight;if(h>height)height=h;}}}}var totheight=height+value;if((mode==2&&totheight>ff_currentheight)||(mode!=2&&totheight!=ff_currentheight)){
                            document.getElementById('ff_formdiv16').style.height=totheight+'px';window.scrollTo(0,0);ff_currentheight=totheight;}}
                        onload=function()
                        {ff_initialize('formentry');ff_initialize('pageentry');ff_resizepage(1,0);if(ff_processor&&ff_processor.traceBuffer)ff_traceWindow();}
                        var FF_STATUS_OK=0;
                        var FF_STATUS_UNPUBLISHED=1;
                        var FF_STATUS_SAVERECORD_FAILED=2;
                        var FF_STATUS_SAVESUBRECORD_FAILED=3;
                        var FF_STATUS_UPLOAD_FAILED=4;
                        var FF_STATUS_SENDMAIL_FAILED=5;
                        var FF_STATUS_ATTACHMENT_FAILED=6;
                        var ff_lastpage=2;
                        function ff_switchpage(page)
                        {;if(page>=1&&page<=ff_lastpage&&page!=ff_currentpage){vis='visible';if(page==1||ff_currentpage==1){if(page==1)vis='visible';else vis='hidden';document.getElementById('ff_div224').style.visibility=vis;document.getElementById('ff_div226').style.visibility=vis;
                            document.getElementById('ff_div227').style.visibility=vis;document.getElementById('ff_div228').style.visibility=vis;document.getElementById('ff_div244').style.visibility=vis;document.getElementById('ff_div229').style.visibility=vis;document.getElementById('ff_div230').style.visibility=vis;
                            document.getElementById('ff_div245').style.visibility=vis;document.getElementById('ff_div246').style.visibility=vis;document.getElementById('ff_div247').style.visibility=vis;document.getElementById('ff_div248').style.visibility=vis;document.getElementById('ff_div231').style.visibility=vis;
                            document.getElementById('ff_div232').style.visibility=vis;document.getElementById('ff_div233').style.visibility=vis;document.getElementById('ff_div234').style.visibility=vis;document.getElementById('ff_div235').style.visibility=vis;document.getElementById('ff_div236').style.visibility=vis;
                            document.getElementById('ff_div237').style.visibility=vis;document.getElementById('ff_div241').style.visibility=vis;document.getElementById('ff_div249').style.visibility=vis;document.getElementById('ff_div250').style.visibility=vis;document.getElementById('ff_div252').style.visibility=vis;
                            document.getElementById('ff_div225').style.visibility=vis;}if(page==2||ff_currentpage==2){if(page==2)vis='visible';else vis='hidden';document.getElementById('ff_div243').style.visibility=vis;}ff_currentpage=page;ff_resizepage(1,0);ff_initialize('pageentry');
                        }}
                        function ff_contacto_submitted(status,message){switch(status){case FF_STATUS_OK:ff_switchpage(2);break;case FF_STATUS_UNPUBLISHED:case FF_STATUS_SAVERECORD_FAILED:case FF_STATUS_SAVESUBRECORD_FAILED:case FF_STATUS_UPLOAD_FAILED:case FF_STATUS_ATTACHMENT_FAILED:
                            case FF_STATUS_SENDMAIL_FAILED:default:alert(message);}}
                        var ff_validationFocusName='';
                        function ff_getElementByName(name)
                        {if(name.substr(0,6)=='ff_nm_')name=name.substring(6,name.length-2);for(var i=0;i<ff_elements.length;i++)
                            if(ff_elements[i][2]==name)
                                return eval('document.ff_form16.'+ff_elements[i][0]);return null;}
                        function ff_getPageByName(name)
                        {if(name.substr(0,6)=='ff_nm_')name=name.substring(6,name.length-2);for(var i=0;i<ff_elements.length;i++)
                            if(ff_elements[i][2]==name)
                                return ff_elements[i][3];return 0;}
                        function ff_validationFocus(name)
                        {if(name==undefined||name==''){if(ff_validationFocusName!=''){ff_switchpage(ff_getPageByName(ff_validationFocusName));if(ff_getElementByName(ff_validationFocusName).focus){ff_getElementByName(ff_validationFocusName).focus();}}}else{if(ff_validationFocusName=='')
                            ff_validationFocusName=name;}}
                        function ff_valuenotempty(element,message)
                        {if(element.value!='')return '';if(message=='')message="Please enter "+element.name+".\n";ff_validationFocus(element.name);return message;}
                        function ff_validemail(element,message)
                        {var check=/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;if(!check.test(element.value)){if(message=='')message=element.name+" is no valid email address.\n";ff_validationFocus(element.name);return message;}return '';}
                        function ff_checked(element,message)
                        {if(element.checked)
                            return '';else{if(message=='')message=element.name+" is not checked.\n";ff_validationFocus(element.name);return message;}}
                        function ff_submitForm()
                        {bfCheckCaptcha();}function ff_submitForm2()
                        {document.ff_form16.submit();}
                        function ff_validation(page)
                        {error='';ff_validationFocusName='';if(page==1||page==0){if(typeof bfDeactivateField=='undefined'||!bfDeactivateField['ff_nm_Persona[]']){error+=ff_valuenotempty(document.ff_form16['ff_nm_Persona[]'],"Debe introducir el nombre de la persona de contacto\n");
                        }if(typeof bfDeactivateField=='undefined'||!bfDeactivateField['ff_nm_Telefono[]']){error+=ff_valuenotempty(document.ff_form16['ff_nm_Telefono[]'],"Debe introducir un numero de telefono\n");}if(typeof bfDeactivateField=='undefined'||!bfDeactivateField['ff_nm_Mail[]']){
                            error+=ff_validemail(document.ff_form16['ff_nm_Mail[]'],"Debe introducir un direccion de E-Mail valida\n");}if(typeof bfDeactivateField=='undefined'||!bfDeactivateField['ff_nm_Privacidad[]']){error+=ff_checked(document.ff_form16['ff_nm_Privacidad[]'],"Debe aceptar la poliÃ‚Â­tica de privacidad\n");
                        }}if(error!=""&&document.getElementById('ff_capimgValue')){document.getElementById('ff_capimgValue').src='http://www.visiotech.es/index.php?raw=true&option=com_facileforms&bfCaptcha=true?'+Math.random();document.getElementById('bfCaptchaEntry').value="";
                        }return error;}
                        function ff_validate_submit(element,action)
                        {error=ff_validation(0);if(error!=''){alert(error);ff_validationFocus();}else
                            ff_submitForm();}
                        //-->
                    </script>
                    <form action="" method="post" name="ff_form16" id="ff_form16" enctype="multipart/form-data" onsubmit="return false;" class="bfQuickMode">
                        <div id="ff_div224" style="position:absolute;z-index:0;left:20px;top:0px;"><p class="stickynote"><strong>Pour demander information, remplissez le formulaire suivant. Si vous le voudriez bien, vous pouvez aussi vous mettre en contact avec nous à travers le téléphone ou en envoyant un E-mail.</strong></p></div>
                        <div id="ff_div226" style="font-size:0px;position:absolute;z-index:1;left:20px;top:120px;height:180px;width:215px;border:1px solid #CCCCCC;"></div>
                        <div id="ff_div227" style="position:absolute;z-index:2;left:255px;top:120px;">Personne contact:</div>
                        <div id="ff_div228" style="position:absolute;z-index:3;left:365px;top:120px;"><input id="ff_elem228" size="30" maxlength="100" type="text" name="ff_nm_Persona[]" value="" class="inputbox"></div>
                        <div id="ff_div244" style="position:absolute;z-index:4;left:660px;top:120px;"><img src="/images/stories/imagenes/contacto.jpg" style="border-color: #dddddd; border-width: 1px solid;" alt="contacto" width="250" height="250"></div>
                        <div id="ff_div229" style="position:absolute;z-index:5;left:255px;top:150px;">Région:</div>
                        <div id="ff_div230" style="position:absolute;z-index:6;left:365px;top:150px;"><input id="ff_elem230" size="30" maxlength="100" type="text" name="ff_nm_poblacion[]" value="" class="inputbox"></div>
                        <div id="ff_div245" style="position:absolute;z-index:7;left:255px;top:180px;">CP:</div>
                        <div id="ff_div246" style="position:absolute;z-index:8;left:365px;top:180px;"><input id="ff_elem246" size="30" maxlength="100" type="text" name="ff_nm_cp[]" value="" class="inputbox"></div>
                        <div id="ff_div247" style="position:absolute;z-index:9;left:255px;top:210px;">Province:</div>
                        <div id="ff_div248" style="position:absolute;z-index:10;left:365px;top:210px;"><input id="ff_elem248" size="30" maxlength="100" type="text" name="ff_nm_provincia[]" value="" class="inputbox"></div>
                        <div id="ff_div231" style="position:absolute;z-index:11;left:255px;top:270px;">Téléphone:</div>
                        <div id="ff_div232" style="position:absolute;z-index:12;left:365px;top:270px;"><input id="ff_elem232" size="30" maxlength="30" type="text" name="ff_nm_Telefono[]" value="" class="inputbox"></div>
                        <div id="ff_div233" style="position:absolute;z-index:13;left:255px;top:300px;">E-Mail:</div>
                        <div id="ff_div234" style="position:absolute;z-index:14;left:365px;top:300px;"><input id="ff_elem234" size="30" maxlength="100" type="text" name="ff_nm_Mail[]" value="" class="inputbox"></div>
                        <div id="ff_div235" style="position:absolute;z-index:15;left:255px;top:365px;">Observations:</div>
                        <div id="ff_div236" style="position:absolute;z-index:16;left:365px;top:365px;"><textarea id="ff_elem236" name="ff_nm_observaciones[]" cols="25" rows="5" class="inputbox"></textarea></div>
                        <div id="ff_div237" style="position:absolute;z-index:17;left:365px;top:470px;"><input id="ff_elem237" type="checkbox" name="ff_nm_Privacidad[]" value="Si"><label id="ff_lbl237" for="ff_elem237"> J'ai lu et accepté la <a href="javascript:void(0);" onclick="window.open('/privacidad.html','Privacidad','scrollbars=yes,width=400,height=400')"><b><u>Politique de Caractère privé</u></b></a></label></div>
                        <div id="ff_div241" style="position:absolute;z-index:18;left:365px;top:500px;"><input id="ff_elem241" type="button" name="ff_nm_botonenviar" value="Envoyer" onclick="ff_validate_submit(this,'click');" class="button"></div>
                        <div id="ff_div249" style="position:absolute;z-index:19;left:255px;top:240px;">Pays:</div>
                        <div id="ff_div250" style="position:absolute;z-index:20;left:365px;top:240px;"><input id="ff_elem250" size="30" maxlength="100" type="text" name="ff_nm_pais[]" value="" class="inputbox"></div>
                        <div id="ff_div252" style="position:absolute;z-index:21;left:365px;top:330px;"><select id="ff_elem252" name="ff_nm_conocido[]" size="1" class="inputbox"><option value="" selected="selected">Comment nous avez vous connu</option><option value="habituel">Client habituel</option><option value="Presse">Presse spécialisée</option><option value="portails">Portail web</option><option value="Chercheurs">Chercheurs</option><option value="mailing">Mailing</option><option value="autreswebs">Autres webs</option><option value="Autres">Autres</option></select></div>
                        <div id="ff_div225" style="position:absolute;z-index:22;left:30px;top:120px;"><table width="340" border="0">
                                <tbody><tr>
                                    <td>
                                        <b>Visiotech</b><br>
                                        C/ Severo Ochoa, 9 - Nave B7<br>
                                        28521, Rivas Vaciamadrid (Madrid) <br>
                                        Spain<br>
                                        Tel: (0033) 182 880 926
                                        <br>
                                        Fax: (0034) 917 139 344<br>
                                        E-Mail: <a href="mailto:comercial@visiotech.es">comercial@visiotech.es</a><br>
                                        Web: http://www.visiotech.es
                                        <br>
                                    </td>
                                </tr>
                                </tbody></table></div>
                        <div id="ff_div243" style="position:absolute;z-index:23;left:60px;top:20px;visibility:hidden;">Merci d'être mis en contact avec nous.</div>
                        <input type="hidden" name="ff_contentid" value="">
                        <input type="hidden" name="ff_applic" value="">
                        <input type="hidden" name="ff_module_id" value="">
                        <input type="hidden" name="ff_form" value="16">
                        <input type="hidden" name="ff_task" value="submit">
                        <input type="hidden" name="option" value="com_facileforms">
                        <input type="hidden" name="Itemid" value="90">
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}