{% extends "ArdetemSfereBundle::layout.html.twig" %}
{% block page_content %}
    <div id="page_style">
    <div>



    <table class="contentpaneopen">

        <tbody><tr>


            <td class="" width="100%">


                <h1>

                    Inscription Nouveau Client
                </h1>

            </td>












        </tr>

        </tbody></table>






    <table class="contentpaneopen">











    <tbody><tr>

    <td valign="top">


    <p style="text-align: justify;">Si vous souhaitez distribuer nos produits et n'êtes pas inscrit comme client, vous pouvez le faire en remplissant le formulaire de la page de <a href="/fr/contact">contacto</a> ou bien en écrivant un mail à
        <script language="JavaScript" type="text/javascript">
            <!--
            var prefix = 'm&#97;&#105;lt&#111;:';
            var suffix = '';
            var attribs = '';
            var path = 'hr' + 'ef' + '=';
            var addy14688 = 'c&#111;m&#101;rc&#105;&#97;l' + '&#64;';
            addy14688 = addy14688 + 'v&#105;s&#105;&#111;t&#101;ch' + '&#46;' + '&#101;s';
            document.write( '<a ' + path + '\'' + prefix + addy14688 + suffix + '\'' + attribs + '>' );
            document.write( addy14688 );
            document.write( '<\/a>' );
            //-->
        </script><a href="mailto:comercial@visiotech.es">comercial@visiotech.es</a><script language="JavaScript" type="text/javascript">
            <!--
            document.write( '<span style=\'display: none;\'>' );
            //-->
        </script><span style="display: none;">Cette adresse email est protégée contre les robots des spammeurs, vous devez activer Javascript pour la voir.
 <script language="JavaScript" type="text/javascript">
     <!--
     document.write( '</' );
     document.write( 'span>' );
     //-->
 </script></span> (indiquez au moins votre nom, raison sociale, téléphone de contact et la région où vous appartenez).</p>
    <p style="text-align: justify;">Vous pouvez nous appeler au téléphone <strong>(0033) 182 880 926</strong> ou bien en contactant directement avec notre département commercial:</p>
    <p style="text-align: justify;"><strong><img style="float: right; margin-left: 20px;" src="/images/stories/imagenes/mapa_europa.jpg" alt="alta_cliente" width="400" height="376">Département Commercial Espagne</strong></p>
    <p style="padding-left: 30px; text-align: justify;">Javier Rodríguez Fernández<br>
        <script language="JavaScript" type="text/javascript">
            <!--
            var prefix = 'm&#97;&#105;lt&#111;:';
            var suffix = '';
            var attribs = '';
            var path = 'hr' + 'ef' + '=';
            var addy73230 = 'jr&#111;dr&#105;g&#117;&#101;z' + '&#64;';
            addy73230 = addy73230 + 'v&#105;s&#105;&#111;t&#101;ch' + '&#46;' + '&#101;s';
            document.write( '<a ' + path + '\'' + prefix + addy73230 + suffix + '\'' + attribs + '>' );
            document.write( addy73230 );
            document.write( '<\/a>' );
            //-->
        </script><a href="mailto:jrodriguez@visiotech.es">jrodriguez@visiotech.es</a><script language="JavaScript" type="text/javascript">
            <!--
            document.write( '<span style=\'display: none;\'>' );
            //-->
        </script><span style="display: none;">Cette adresse email est protégée contre les robots des spammeurs, vous devez activer Javascript pour la voir.
 <script language="JavaScript" type="text/javascript">
     <!--
     document.write( '</' );
     document.write( 'span>' );
     //-->
 </script></span><br> Telf.: (0034) 911 883 613<br> Movil: (0034) 646 336 905</p>
    <p style="padding-left: 30px; text-align: justify;">Daniel González Menéndez<br>
        <script language="JavaScript" type="text/javascript">
            <!--
            var prefix = 'm&#97;&#105;lt&#111;:';
            var suffix = '';
            var attribs = '';
            var path = 'hr' + 'ef' + '=';
            var addy64518 = 'dg&#111;nz&#97;l&#101;z' + '&#64;';
            addy64518 = addy64518 + 'v&#105;s&#105;&#111;t&#101;ch' + '&#46;' + '&#101;s';
            document.write( '<a ' + path + '\'' + prefix + addy64518 + suffix + '\'' + attribs + '>' );
            document.write( addy64518 );
            document.write( '<\/a>' );
            //-->
        </script><a href="mailto:dgonzalez@visiotech.es">dgonzalez@visiotech.es</a><script language="JavaScript" type="text/javascript">
            <!--
            document.write( '<span style=\'display: none;\'>' );
            //-->
        </script><span style="display: none;">Cette adresse email est protégée contre les robots des spammeurs, vous devez activer Javascript pour la voir.
 <script language="JavaScript" type="text/javascript">
     <!--
     document.write( '</' );
     document.write( 'span>' );
     //-->
 </script></span><br> Telf.: (0034) 911 883 612<br> Movil: (0034) 660 395 594</p>
    <p style="padding-left: 30px; text-align: justify;">Felix Carrasquilla<br>
        <script language="JavaScript" type="text/javascript">
            <!--
            var prefix = 'm&#97;&#105;lt&#111;:';
            var suffix = '';
            var attribs = '';
            var path = 'hr' + 'ef' + '=';
            var addy46276 = 'fc&#97;rr&#97;sq&#117;&#105;ll&#97;' + '&#64;';
            addy46276 = addy46276 + 'v&#105;s&#105;&#111;t&#101;ch' + '&#46;' + '&#101;s';
            document.write( '<a ' + path + '\'' + prefix + addy46276 + suffix + '\'' + attribs + '>' );
            document.write( addy46276 );
            document.write( '<\/a>' );
            //-->
        </script><a href="mailto:fcarrasquilla@visiotech.es">fcarrasquilla@visiotech.es</a><script language="JavaScript" type="text/javascript">
            <!--
            document.write( '<span style=\'display: none;\'>' );
            //-->
        </script><span style="display: none;">Cette adresse email est protégée contre les robots des spammeurs, vous devez activer Javascript pour la voir.
 <script language="JavaScript" type="text/javascript">
     <!--
     document.write( '</' );
     document.write( 'span>' );
     //-->
 </script></span><br> Telf.: (0034) 911 407 632 <br> Movil: (0034) 692 648 420</p>
    <p style="padding-left: 30px; text-align: justify;">Evelyn Agudo de Blas<br>
        <script language="JavaScript" type="text/javascript">
            <!--
            var prefix = 'm&#97;&#105;lt&#111;:';
            var suffix = '';
            var attribs = '';
            var path = 'hr' + 'ef' + '=';
            var addy54988 = '&#101;&#97;g&#117;d&#111;' + '&#64;';
            addy54988 = addy54988 + 'v&#105;s&#105;&#111;t&#101;ch' + '&#46;' + '&#101;s';
            document.write( '<a ' + path + '\'' + prefix + addy54988 + suffix + '\'' + attribs + '>' );
            document.write( addy54988 );
            document.write( '<\/a>' );
            //-->
        </script><a href="mailto:eagudo@visiotech.es">eagudo@visiotech.es</a><script language="JavaScript" type="text/javascript">
            <!--
            document.write( '<span style=\'display: none;\'>' );
            //-->
        </script><span style="display: none;">Cette adresse email est protégée contre les robots des spammeurs, vous devez activer Javascript pour la voir.
 <script language="JavaScript" type="text/javascript">
     <!--
     document.write( '</' );
     document.write( 'span>' );
     //-->
 </script></span><br> Telf.: (0034) 911 407 630</p>
    <p style="padding-left: 30px; text-align: justify;">Miguel Ángel Borrego<br> Délégué Commercial Zone Sud<br>
        <script language="JavaScript" type="text/javascript">
            <!--
            var prefix = 'm&#97;&#105;lt&#111;:';
            var suffix = '';
            var attribs = '';
            var path = 'hr' + 'ef' + '=';
            var addy44901 = 'm&#97;b&#111;rr&#101;g&#111;' + '&#64;';
            addy44901 = addy44901 + 'v&#105;s&#105;&#111;t&#101;ch' + '&#46;' + '&#101;s';
            document.write( '<a ' + path + '\'' + prefix + addy44901 + suffix + '\'' + attribs + '>' );
            document.write( addy44901 );
            document.write( '<\/a>' );
            //-->
        </script><a href="mailto:maborrego@visiotech.es">maborrego@visiotech.es</a><script language="JavaScript" type="text/javascript">
            <!--
            document.write( '<span style=\'display: none;\'>' );
            //-->
        </script><span style="display: none;">Cette adresse email est protégée contre les robots des spammeurs, vous devez activer Javascript pour la voir.
 <script language="JavaScript" type="text/javascript">
     <!--
     document.write( '</' );
     document.write( 'span>' );
     //-->
 </script></span><br> Telf.: (0034) 615 242 919</p>
    <strong>Département Commercial France / Benelux / Maghreb</strong>
    <p style="padding-left: 30px; text-align: justify;">Khalid El Hajui<br> <a href="mailto:
 &lt;script language='JavaScript' type='text/javascript'&gt;
 &lt;!--
 var prefix = 'mailto:';
 var suffix = '';
 var attribs = '';
 var path = 'hr' + 'ef' + '=';
 var addy78052 = 'kelhajui' + '@';
 addy78052 = addy78052 + 'visiotech' + '.' + 'es';
 document.write( '&lt;a ' + path + '\'' + prefix + addy78052 + suffix + '\'' + attribs + '&gt;' );
 document.write( addy78052 );
 document.write( '&lt;\/a&gt;' );
 //--&gt;
 &lt;/script&gt;&lt;script language='JavaScript' type='text/javascript'&gt;
 &lt;!--
 document.write( '&lt;span style=\'display: none;\'&gt;' );
 //--&gt;
 &lt;/script&gt;Cette adresse email est protégée contre les robots des spammeurs, vous devez activer Javascript pour la voir.
 &lt;script language='JavaScript' type='text/javascript'&gt;
 &lt;!--
 document.write( '&lt;/' );
 document.write( 'span&gt;' );
 //--&gt;
 &lt;/script&gt; ">
            <script language="JavaScript" type="text/javascript">
                <!--
                var prefix = 'm&#97;&#105;lt&#111;:';
                var suffix = '';
                var attribs = '';
                var path = 'hr' + 'ef' + '=';
                var addy22768 = 'k&#101;lh&#97;j&#117;&#105;' + '&#64;';
                addy22768 = addy22768 + 'v&#105;s&#105;&#111;t&#101;ch' + '&#46;' + '&#101;s';
                document.write( '<a ' + path + '\'' + prefix + addy22768 + suffix + '\'' + attribs + '>' );
                document.write( addy22768 );
                document.write( '<\/a>' );
                //-->
            </script></a><a href="mailto:kelhajui@visiotech.es">kelhajui@visiotech.es</a><script language="JavaScript" type="text/javascript">
            <!--
            document.write( '<span style=\'display: none;\'>' );
            //-->
        </script><span style="display: none;">Cette adresse email est protégée contre les robots des spammeurs, vous devez activer Javascript pour la voir.
 <script language="JavaScript" type="text/javascript">
     <!--
     document.write( '</' );
     document.write( 'span>' );
     //-->
 </script></span><br> Telf.: (0033) 182 880 926<br><br><span>Meriem Bouhfid</span><br>
        <script language="JavaScript" type="text/javascript">
            <!--
            var prefix = 'm&#97;&#105;lt&#111;:';
            var suffix = '';
            var attribs = '';
            var path = 'hr' + 'ef' + '=';
            var addy71397 = 'mb&#111;&#117;hf&#105;d' + '&#64;';
            addy71397 = addy71397 + 'v&#105;s&#105;&#111;t&#101;ch' + '&#46;' + '&#101;s';
            document.write( '<a ' + path + '\'' + prefix + addy71397 + suffix + '\'' + attribs + '>' );
            document.write( addy71397 );
            document.write( '<\/a>' );
            //-->
        </script><a href="mailto:mbouhfid@visiotech.es">mbouhfid@visiotech.es</a><script language="JavaScript" type="text/javascript">
            <!--
            document.write( '<span style=\'display: none;\'>' );
            //-->
        </script><span style="display: none;">Cette adresse email est protégée contre les robots des spammeurs, vous devez activer Javascript pour la voir.
 <script language="JavaScript" type="text/javascript">
     <!--
     document.write( '</' );
     document.write( 'span>' );
     //-->
 </script></span><br><span>Telf.: (0033) 182 880 926</span></p>
    <strong>Département Commercial Portugal / PALOP</strong>
    <p style="padding-left: 30px; text-align: justify;">Luis Sousa<br>
        <script language="JavaScript" type="text/javascript">
            <!--
            var prefix = 'm&#97;&#105;lt&#111;:';
            var suffix = '';
            var attribs = '';
            var path = 'hr' + 'ef' + '=';
            var addy5804 = 'ls&#111;&#117;s&#97;' + '&#64;';
            addy5804 = addy5804 + 'v&#105;s&#105;&#111;t&#101;ch' + '&#46;' + '&#101;s';
            document.write( '<a ' + path + '\'' + prefix + addy5804 + suffix + '\'' + attribs + '>' );
            document.write( addy5804 );
            document.write( '<\/a>' );
            //-->
        </script><a href="mailto:lsousa@visiotech.es">lsousa@visiotech.es</a><script language="JavaScript" type="text/javascript">
            <!--
            document.write( '<span style=\'display: none;\'>' );
            //-->
        </script><span style="display: none;">Cette adresse email est protégée contre les robots des spammeurs, vous devez activer Javascript pour la voir.
 <script language="JavaScript" type="text/javascript">
     <!--
     document.write( '</' );
     document.write( 'span>' );
     //-->
 </script></span><br> Telf.: (00351) 222 433 042</p>
    <strong>Département Commercial Italie</strong>
    <p style="padding-left: 30px; text-align: justify;">Vincenzo Timeo <br>
        <script language="JavaScript" type="text/javascript">
            <!--
            var prefix = 'm&#97;&#105;lt&#111;:';
            var suffix = '';
            var attribs = '';
            var path = 'hr' + 'ef' + '=';
            var addy94702 = 'vt&#105;m&#101;&#111;' + '&#64;';
            addy94702 = addy94702 + 'v&#105;s&#105;&#111;t&#101;ch' + '&#46;' + '&#101;s';
            document.write( '<a ' + path + '\'' + prefix + addy94702 + suffix + '\'' + attribs + '>' );
            document.write( addy94702 );
            document.write( '<\/a>' );
            //-->
        </script><a href="mailto:vtimeo@visiotech.es">vtimeo@visiotech.es</a><script language="JavaScript" type="text/javascript">
            <!--
            document.write( '<span style=\'display: none;\'>' );
            //-->
        </script><span style="display: none;">Cette adresse email est protégée contre les robots des spammeurs, vous devez activer Javascript pour la voir.
 <script language="JavaScript" type="text/javascript">
     <!--
     document.write( '</' );
     document.write( 'span>' );
     //-->
 </script></span><br> Telf.: (0039) 06 948 032 24</p>

    </td>

    </tr>




    </tbody></table>

    <span class="article_separator">&nbsp;</span>



    </div>
    </div>
{% endblock %}