{% extends "ArdetemSfereBundle::layout.html.twig" %}
{% block page_content %}
    <div id="page_style">
        <h1>
            SFERE
        </h1>
        <div id="adress">
            {{ 'intro.company.where.text' | trans | raw }}
        </div>
        <p style="text-align: justify;"><span style="font-size: 12pt; color: #808080;">
            <strong>{{ "Where are we" |trans | upper }}</strong></span></p>

        <p id="intro-geo" style="text-align: justify;">
            <a href="https://www.google.fr/maps/dir/Hotel+le+patio+des+terreaux,+9+Rue+Sainte-Catherine,+69001+Lyon/Sfere,+Route+de+Brindas,+69510+Soucieu-en-Jarrest/@45.7152937,4.6956395,12z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x47f4eafe8793f8e3:0xd0c6908a30a1bca8!2m2!1d4.833145!2d45.76826!1m5!1m1!1s0x47f4efce627d78db:0x9ea181d8e54b49b9!2m2!1d4.701916!2d45.688023!3e0">
                {% image '@ArdetemSfereBundle/Resources/public/images/map-sfere.png' %}
                <img src="{{ asset_url }}" alt="Example"/>
                {% endimage %}
                ></a></p>
    </div>
{% endblock %}