{% extends "ArdetemSfereBundle::layout.html.twig" %}
{% block page_content %}
    <div id="page_style">
<div>
    <table class="contentpaneopen">
        <tr>
            <td class="contentheading" width="100%">
                Entreprise
            </td>


        </tr>
    </table>

    <table class="contentpaneopen">


        <tr>
            <td valign="top" class="presentation">
                <p id="intro-text" style="text-align: justify;"><span style="font-size: 12pt; color: #808080;">
                        <strong>{{ 'intro.company.presentation.title' | trans }}</strong></span></p>

                {{ 'intro.company.presentation.text'| trans | raw }}
                <p style="text-align: justify;">
                    <span style="font-size: 12pt; color: #808080;">
                <strong>{{ 'intro.company.title' }}</strong>
                    </span>
                </p>

                <p style="text-align: justify;">

                        {% image '@ArdetemSfereBundle/Resources/public/images/bat1.jpg' %}
                        <img src="{{ asset_url }}" alt="Example"/>
                        {% endimage %}
                        >
                </p>

            </td>
        </tr>

    </table>
    <span class="article_separator">&nbsp;</span>

</div>
    </div>
{% endblock %}