{% extends "ArdetemSfereBundle::layout.html.twig" %}
{% block page_content %}
    <div id="page_style">
<div>
    <table class="contentpaneopen">
        <tr>
            <td class="contentheading" width="100%">
                Entreprise
            </td>


        </tr>
    </table>

    <table class="contentpaneopen">


        <tr>
            <td valign="top">
                <p style="text-align: justify;"><span style="font-size: 12pt; color: #808080;"><strong>PROFIL
                            DE LA COMPAGNIE</strong></span></p>

                <p style="text-align: justify;">VISIOTECH est une entreprise consacrée à la recherche, au
                    développement et à la distribution équipements et solutions de vidéosurveillance. Depuis
                    ses débuts en 2003, Visiotech a su offrir à ses clients des produits de haute qualité à
                    des prix compétitifs et en stock permanent.</p>

                <p style="text-align: justify;">
                    <img style="float: right; margin-left: 20px;"
                    src="http://www.visiotech.es/images/stories/imagenes/empresa.jpg"
                    alt="empresa" width="200" height="200"/>Dispose d'une
                    équipe de techniciens et commerciaux avec une vaste expérience professionnelle, en
                    recherche permanente des dernières nouveautés technologiques dans le secteur de
                    vidéosurveillance, essayant toujours de trouver les solutions indicatrices et plus
                    adéquates à ses clients.</p>

                <p style="text-align: justify;">Visiotech centre actuellement sa philosophie de travail à
                    une attention personnalisée de chaque client, en étendant continuellement le catalogue
                    de produits en accord avec les nécessités spécifiques détectées, ainsi que l'intégration
                    des dernières nouveautés technologiques. Un compromis total avec les clients et un
                    capital humain qui garantit la rénovation continue des produits, ainsi qu'un service de
                    consultation prévente et support après-vente.</p>

                <p style="text-align: justify;"><span style="font-size: 12pt; color: #808080;"><strong>OÙ
                            SOMMES-NOUS</strong></span></p>

                <p style="text-align: justify;">
                    <a
                            href="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=es&amp;geocode=&amp;q=visiotech&amp;sll=40.33201,-3.522763&amp;sspn=0.001364,0.003484&amp;ie=UTF8&amp;hq=visiotech&amp;hnear=&amp;ll=40.333198,-3.524723&amp;spn=0.010845,0.027874&amp;z=16&amp;iwloc=A">
                        {% image '@ArdetemSfereBundle/Resources/public/images/map-sfere.png' %}
                        <img src="{{ asset_url }}" alt="Example"/>
                        {% endimage %}
                        ></a></p>

            </td>
        </tr>

    </table>
    <span class="article_separator">&nbsp;</span>

</div>
    </div>
{% endblock %}