{% extends "ArdetemSfereBundle::layout.html.twig" %}
{% block page_content %}
<div id="page_style">


<h1>{{ element.name }}</h1>

            <div>
                {{ element.description |raw}}
            </div>
    </div>
{% endblock %}