

.article-content{
	font-size:14px;

}
.article-content h1 {
	font: 65px/68px 'Titillium', Arial, sans-serif;
	letter-spacing: 0;
	color: #A7A7A7;
	margin: 20px 0px;
}

.article-content h2 {
/*font-family: 'OswaldLight';
font-size: 28px;
line-height: 35px;
color: #A70330;
font-weight: normal;
padding: 0px;
margin: 15px 10px 15px 0px;*/

font-family: 'MuseoSans_100';
font-size: 35px;
color: #686565;
line-height: 45px;
margin: 0px;
}

.article-content h3 {
/*display: inline-block;
font-family: 'Oswaldbook';
font-size: 20px;
line-height: 28px;
color: #8B8B8B;
font-weight: normal;
padding: 0px;
margin: 25px 0px 12px 0px;*/

display: inline-block;
font-family: MuseoSans_700;
font-size: 25px;
color: #D36C6C;
font-weight: normal;
padding: 0px;
line-height: 30px;
margin: 14px 0px 5px 0px;
}

.article-content .highlight {
font: 17px/23px 'Titillium', Arial, sans-serif;
color: #6B6B6B;
}
.article_list{
text-align: justify;
width: 100%;
padding-left: 25px;
list-style: none;
margin: 0px;
}

.article_list li{
line-height: 19px;
padding-bottom: 10px;
padding-left: 28px;
background: url(/templates/ja_nickel/images/indent.png) 0px 5px no-repeat;
}

.lupa{
background: url(/templates/ja_nickel/images/lupa.png) 0px 5px no-repeat;
}

.article_list p{
	margin: 20px 0px;
	text-align:justify;
}

.article_list ul{
	margin: 20px 0px;
}


/*-------BARRA NAVEGACION AUTOMATICA---------*/
#top_bar{
	position: relative;
	top: 0px;
	text-align: left;
	height: 39px;
	width: 100%;
	top: 0px;
	left: 0px;
	background-color: #FFF;
	z-index: 1;
	height: 60px;
	transition:0.5s;
}

#top_bar.fixed_bar{
	position:fixed;
	border: solid 1px #D6D6D6;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
	text-align: center;
}

#inner_top_bar{ 
	position:absolute;
	width:100%;
	z-index: 0;
	pointer-events:none;	
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../bundles/ardetemsfere/css/your_transparent.png', sizingMethod='scale');
	background:none !important;

}

#inner_top_bar img{
position: relative;
margin: 4px auto;
left: -375px;

}


#index {
	display:inline-block;
	list-style: none;
	margin: -1px 0px;
	padding: 0px;
	border-radius: 5px;
	font-size: 15px;
	z-index: 2;

}
#index li {
float: left;
cursor: pointer;
margin: 0px;
padding: 10px 15px;
border-width: 0px 1px 0px 0px;
border-style: solid;
border-color: #D6D6D6;
}

/*Si esta fija arriba la barra de navegacion*/
.fixed_bar #index li {
padding: 18px 10px;
}


#index li:hover {
	color: #C44467;
}


#index .active, #index .active:hover {
background-color: #C44467;
color: #FFF;
border-bottom: none;
box-shadow: inset 0px 3px 8px rgba(0, 0, 0, 0.24);
border-color: #C06A6A;
}
#index li:first-child {
	//border-radius: 5px 0px 0px 5px;
}
#index li:last-child {
	border-right: 0;
}
.accordion {
	margin: 0px;
	border: solid 1px #D6D6D6;
	border-radius: 5px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
	margin: 15px 0px 20px 0px;
}
.accordion .title {
	position: relative;
padding: 10px 10px;
height: 27px;
cursor: pointer;
margin: 0px;
font-family: MuseoSans_300;
font-size: 18px;
border-bottom: solid 1px #D6D6D6;
}

.accordion .title:hover {
	background-color: #ECEBEB;
}

.accordion .title.close {
	border-bottom: none;
}
.accordion .title.open:hover {
	background-color: none;
}

.accordion .title:last-child {
	border-bottom: none;
}

.accordion .icon {
background: url(../../bundles/ardetemsfere/css/images/plus.png) no-repeat;
display: inline-block;
position: absolute;
right: 13px;
top: 12px;
height: 25px;
width: 25px;
}
.accordion .content {
	display: none;
	padding: 10px;
}

.accordion .download{
display: block;
width: 100%;
position: relative;
left: -10px;
bottom: -10px;
font-family: MuseoSans_300;
font-size: 25px;
text-align: center;
padding: 5px 10px;
background-color: #B1D3B1;
color: #FFF;
cursor: pointer;
text-shadow: 0px 1px 1px rgba(75, 75, 75, 0.31);
text-decoration: none;

}


.accordion .download:hover{
	background-color: #7DC47D;
	transition: background-color 200ms linear;
}

.accordion .download:active{
	background-color: #7DC47D;
	transition: background-color 200ms linear;
	box-shadow: inset 0px 0px 13px rgba(0, 0, 0, 0.18);
}


/*************************************Menu Button*******************************************/

.button_cta, .button_cta:visited {

	
font-family: museosans_700,Arial,Helvetica;
	text-align: center;

	background: #222 url(../../bundles/ardetemsfere/css/images/overlay.png) repeat-x; 
	display: inline-block; 
	padding: 20px 40px; 

	text-decoration: none;
	color: #FFF;
	-moz-border-radius: 6px; 
	-webkit-border-radius: 6px;
	border-radius: 6px;

	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.47);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer
}

.button_cta a, .button_cta a{
		color: #fff!important; 
}
 
	.button_cta:hover	{ background-color: #111; color: #fff; }
	.button_cta:active{ 	position: relative;top: 1px; }
	
	.small.button_cta, .small.button_cta:visited 
	{
		 	font-weight: bold;
			font-size: 18px;
			padding: 9px 0px;
			width: 221px;
	}
												  
	.large.button_cta, .large.button_cta:visited 
	{
			font-weight: bold;
			font-size: 25px;

	}
													  
	.super.button_cta, .super.button_cta:visited 			{ font-size: 34px; 
													  padding: 8px 14px 9px; }
	
	
	
	.green.button_cta, .green.button_cta:visited		{ background-color: #4AA503; }
	.green.button_cta:hover						    { background-color: #3F8F00; }
	
	.gray.button_cta, .gray.button_cta:visited			{ background-color: #868686; }
	.gray.button_cta:hover						    { background-color: #6D6D6D ; }

	.red.button_cta, .red.button_cta:visited			{ background-color: #AF4444; }
	.red.button_cta:hover						    { background-color: #8A2424; }
 

/***************************************************************************/

.separador
{
	background: url(../../bundles/ardetemsfere/css/images/separador.png) no-repeat;
	width:100%;
	height:35px; 
}
/***************************************************************************/

.ocultar {
	float: right;
	display: none;
	visibility: hidden;
}
.pop_up{
	background: url(../../bundles/ardetemsfere/css/images/gradient_60.png) 0px 0px repeat;
 	position:fixed;
 	top:0px;
 	left:0px;
 	z-index: 100;
}

.pop_up_content{
width:895px;


position: fixed;
top: 50%;
left: 50%;


-moz-box-shadow: 0px 2px 30px #424141;
-webkit-box-shadow: 0px 2px 30px #424141;
box-shadow: 0px 2px 30px #424141;
padding: 30px;
background-color: #FDFDFD;
border-spacing: 5px;
border: 1px solid #E3E3E3;

}

/*-------------------------------------------------------------------------*/

.gradient_box{
position: relative;
float: left;
width: 353px;
height: 275px;
margin: 34px 61px 25px 16px;
}


.title_box{
	border-bottom: solid 1px #A70330;
	padding-bottom: 6px;
}
.title_box h2{
	font-size: 25px;
margin: 0px;
}
.title_box h3{
margin:0px;
}
.button_ribbon{
position: absolute;
bottom: -34px;
right: -39px;
height: 77px;
width: 155px;
}

.logos_s{
	display: inline-block;

	background: url(../../bundles/ardetemsfere/css/images/logos_s.png) repeat-x;
	height: 32px;
	width:	32px;
}



.compatibility{
margin-top: 5px;
}

.logos_s.chrome{
	background-position:-6px 0px;
}
.logos_s.firefox{
	background-position:-44px 0px;
}
.logos_s.explorer{
	background-position:-83px 0px;
}
.logos_s.android{
	background-position:-121px 0px;
}
.logos_s.apple{
	background-position:-158px 0px;
}
.logos_s.windows{
position: relative;
top: 2px;
background-position: -196px 0px;
}
.logos_s.opera{
	background-position:-233px 0px;
}
.logos_s.safari{
	background-position:-267px 2px;
}
.logos_s.separador{
background-position: -295px 0px;
width: 23px;
height: 27px;
}





/***************************************************************************/

.modal{
	border-collapse:separate;
	border-spacing:10px;
	font-family:'TitilliumText25L250wt', Arial, sans-serif;
}

.modal.close{
opacity: 0.5;
top: 10px;
right: 10px;
position: absolute;
cursor: pointer;
background: url(../../bundles/ardetemsfere/css/images/close.png) top right no-repeat;
height: 45px;
width: 45px;
}

.modal.close:hover{
opacity: 1;
}

.modal_title{
	font-size: 51px;
	line-height: 68px;
	color: #949494;
}

td.compatibility{
	border-bottom: solid 1px #A70330;
}
.modal_td_white{
	vertical-align: top;
	padding: 6px 20px 6px 0px;
	font-size: 13px;
}

img.border{
	border: solid 1px #CECECE;
	padding: 5px;
	box-shadow: 0px 1px 6px 0px #DADADA;
}

.modal_td_gray{
	background-color: #EBEBEB;
	font-size: 14px;
	border: solid 1px #D1D1D1;
	margin-right: 16px;
	padding: 6px 20px 6px 20px;
}
.acordion.open .caption{
	color: #A70330;
	font-weight: bold;
}
