.presentation p{
    text-align: justify;
}

img.header-logo{
    width: 200px;
    height: 100px;
}
img.footer-logo{
    width: 250px;
    height: 100px;
}

.list_submenu .img.company{
    margin-top: 20px;
}