/* CSS Document */



@font-face {
	font-family: MuseoSans_700;
	src: url(../fonts/MuseoSans_700.otf);
	font-weight: 400;
}
@font-face {
	font-family: MuseoSans_500;
	src: url(../fonts/MuseoSans_300.otf);
	font-weight: 400;
}
@font-face {
	font-family: MuseoSans_300;
	src: url(../fonts/MuseoSans_300.otf);
	font-weight: 400;
}
@font-face {
	font-family: MuseoSans_100;
	src: url(../fonts/MuseoSans_100.otf);
	font-weight: 400;
}
@font-face {
	font-family: 'OpenSansLight';
	src: url(../fonts/OpenSans-Light-webfont.eot);
	src: url(../fonts/OpenSans-Light-webfont.eot?#iefix) format('embedded-opentype'),
    url(../fonts/OpenSans-Light-webfont.woff) format('woff'),
    url(../fonts/OpenSans-Light-webfont.ttf) format('truetype'),
    url(../fonts/OpenSans-Light-webfont.svg#OpenSansLight) format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Titillium';
	src: url(../fonts/TitilliumText25L003-webfont.eot);
	src: url(../fonts/TitilliumText25L003-webfont.eot?#iefix) format('embedded-opentype'),
    url(../fonts/TitilliumText25L003-webfont.woff) format('woff'),
    url(../fonts/TitilliumText25L003-webfont.ttf) format('truetype'),
    url(../fonts/TitilliumText25L003-webfont.svg#TitilliumText25L400wt) format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Titillium_Light';
	src: url(../fonts/TitilliumText25L005-webfont.eot);
	src: url(../fonts/TitilliumText25L005-webfont.eot?#iefix) format('embedded-opentype'),
    url(../fonts/TitilliumText25L005-webfont.woff) format('woff'),
    url(../fonts/TitilliumText25L005-webfont.ttf) format('truetype'),
    url(../fonts/TitilliumText25L005-webfont.svg#TitilliumText25L1wt) format('svg');
	font-weight: normal;
	font-style: normal;
}
body {
	font-family: OpenSansLight, Helvetica, Arial;
	background: url(../images/background.png) center top no-repeat;
	color: gray;
	font-size: 100%;
	padding: 0px;
	margin: 0px;
}

/*texto largo en toda la web*/

.contentpaneopen, #vmMainPage {
font-size: 0.9em;
line-height: 1.8em;
}

.contentpaneopen p a, #vmMainPage p a{
	color:#C44467;

}
#vmMainPage {
	position:relative;
color: #5A5A5A;
width: 96%;
margin: 0px auto;
}
#vmMainPage h4 {
	font-family: MuseoSans_500;
	font-size: 21px;
	color: #686565;
	margin: 10px 0px;
}
#vmMainPage h1 {
/*border-bottom: solid 2px #AFAFAF;*/

}

#category_list{
margin-top: 40px;
}

#category_list .browse_separator{	
float: left;
width: 30%;
margin-right: 5%;
min-width: 150px;
margin-bottom: 35px;
}

#category_list .browse_separator:nth-child(3n){
	margin-right: 0;
}


#product_list{
margin-top: 20px;
}

#product_list .browse_separator:nth-child(odd){
margin-right: 4%;
}


#product_list .browse_separator{	
float: left;
width: 48%;
min-width: 300px;
margin-bottom: 17px;
}




/*-----*/


a {
	text-decoration: none;
	color: inherit;
}
a img {
	border: none;
}
a:visited {
	text-decoration: none;
}
ul {
	margin: 0px;
}
ul li {
	list-style: none;
}
#main {
	font-size: 1em;
}
#logo {
	width: 154px;
	top: 15px;
	position: absolute;
}
#header {
	width: 100%;
	z-index: 20;
	height: 145px;
	max-width: 992px;
	margin: 0px auto;
	position: relative;
}
#main {
	z-index: 0;
	max-width: 992px;
	min-height: 58%;
	margin: 20px auto 0px auto;
}

/*para arreglar le problema de alberto id dentro de fichas*/
td > #main {
	z-index: auto;
	max-width: none;
	margin: 0;
}

td #main #search{
opacity: 1;
font-family: inherit;
font-size: inherit;
position: relative;
bottom: 0px;
right: 0px;
width: auto;
height: auto;
border: none;
padding: 0;
transition: none;
margin: 0;
}
/*fin del apaño*/
#page_style {
background-color: #FFF;
	position: relative;
	width: 90%;
	padding: 15px 5%;
}
.line_deg{
	position:absolute;
top: -7px;
	height:316px;
	width:19px;

}
#line_l{left: -19px;
	background:  url('../images/line_l.png') 0px 0px no-repeat;
}

#line_r{
	background:  url('../images/line_r.png') 0px 0px no-repeat;
	right:-18px;

}

#line_t{
    background: url('../images/line_t.png') 0px 0px repeat-x;
    width: 100%;
    position: absolute;
    height: 15px;
top: -7px;
    left: 0px;
}
#panel {
	/*background-color: #EFEFEF;

	border-top: solid 4px #E7E7E7;

	box-shadow: inset 0px 4px 10px #CFCFCF;*/

	padding-bottom: 0.5em;
}
#inner_panel {
	max-width: 992px;
	margin: 0px auto;
}
.wrap {
	position: relative;
	margin: 0px 1em;
	height: 100%;
}
#news {
	/*

display: inline-block;

padding: 1em;

margin: 1.2em 0px 0.2em 0px;

border: solid 1px #DFDFDF;

box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);

background: linear-gradient(to bottom, #FFF 40%,#FAFAFA 100%);

border-radius: 4px;*/



	display: inline-block;
	padding: 1em;
	margin: 1.2em 0px 0.2em 0px;
	border: solid 1px #ECECEC;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.04);
	background: linear-gradient(to bottom, #FFF 40%, #FAFAFA 100%);
}
.news {
	position: relative;
	width: 50%;
	float: left;
}
#news .title, .blog .title {
	font-family: MuseoSans_700, Helvetica, sans-serif;
	font-size: 1.2em;
	margin-bottom: 0.5em;
	color: #808080;
}
#news .title a:hover {
	color: #C44467;
}
#news .img {
	width: 35.7%;
	float: left;
	background-color: #999;
	border: solid 1px #EEE;
}
.blog .img {
	float: left;
	background-color: #999;
	border: solid 1px #EEE;
}
#news .description, .blog .description {
	float: left;
	width: 56%;
	margin-left: 3%;
	margin-top: 10px;
}
.blog .description {
	float: left;
	margin-left: 3%;
}
#news .intro, .blog .intro {
	font-family: OpenSansLight, Helvetica, sans-serif;
	font-size: 0.85em;
}

#news .intro a, .blog .intro a{
	color: #C44467;
}
#shortcut {
	margin: 0px;
	display: inline-block;
	width: 100%;
	padding: 0px;
}
#shortcut li {
	opacity: 0.9;
	background-color: #FFF;
	float: left;
	list-style: none;
	width: 23.37%;
	height: 179px;
	margin: 0.9%;
	transition: all 100ms linear;
	border: solid 1px #ECECEC;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.04);
	background: linear-gradient(to bottom, #FFF 40%, #FAFAFA 100%);
}
#shortcut .title {
	text-align: center;
	font-family: museosans_700, Helvetica, sans-serif;
	text-transform: uppercase;
	font-size: 1.2em;
	color: #8D8D8D;
}
#shortcut li:hover {
	/*box-shadow: 0px 0px 8px 0px #D8D8D8;*/

	outline-width: 4px;
	outline-style: solid;
	opacity: 1;
}
#shortcut img {
	margin: 1em auto;
	width: 105px;
	display: block;
}
#shortcut li:hover img {
	transform: scale(1.1, 1.1);
	-ms-transform: scale(1.1, 1.1); /* IE 9 */
	-webkit-transform: scale(1.1, 1.1); /* Safari and Chrome */
	transition: 0.25s;
}
#shortcut li a {
	display: block;
}
#catalog_sc {
	outline-color: #3B97D2;
}
#catalog_sc:hover .title {
	color: #3B97D2;
}
#price_list_sc {
	outline-color: #F29C1E;
}
#price_list_sc:hover .title {
	color: #F29C1E;
}
#contact_sc {
	outline-color: #4EB96E;
}
#contact_sc:hover .title {
	color: #4EB96E;
}
#demo_sc {
	outline-color: #955AA4;
	background-color: #955AA4;
}
#demo_sc:hover .title {
	color: #955AA4;
}
#shortcut li:first-child {
	margin-left: 0px;
}
#shortcut li:last-child {
	margin-right: 0px;
}
footer {
	background-color: #E4E4E4;
	width: 100%;
	border-top: solid 5px #BBBDC0;
}
#foot {
	border-top: solid 5px #177A37;
}
#inner_footer {
	position: relative;
	top: -5px;
	max-width: 960px;
	margin: 0px auto;
}
#w-foot {
	display: inline-block;
	width: 100%;
	padding: 2em 0px;
}
#info {
	display: inline-block;
	text-align: center;
	float: left;
	width: 40%;
	border-right: dotted 1px #ADADAD;
}
#adress {
	display: block;
	font: 1em / 1.6em MuseoSans_500, Helvetica, Arial;
	color: #888;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.81);
	margin: 1em 0px 1.2em 0px;
}
#web-links {
	display: inline-block;
	float: left;
	width: 59%;
	height: 100%;
}
#social {/* width: 100%; *//* float: right; */
	margin: 10px 0px;
	padding: 0px;
	display: inline-block;/* width: 369px; *//* height: 57px; */

}
#social li {
	display: inline-block;
	float: left;
	margin: 14px 0px 0px 5px;
}
#social li a {
	opacity: 0.5;
	display: block;
	height: 50px;
	width: 50px;
	background: url('../images/social.png') 0px 0px no-repeat;
	transition: 0.25s;
}
#social li a:hover {
	opacity: 1;
}
#youtube {
	background-position: 0px 0px!important;
}
#linkedin {
	background-position: -70px 0px!important;
}
#twitter {
	background-position: -140px 0px!important;
}
#flickr {
	background-position: -210px 0px!important;
}
#rss {
	background-position: -280px 0px!important;
}
#web-map {
	width: 100%;
	float: left;
	font: 1em Titillium_Light, Arial, sans-serif;
	color: #888;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.81);
}
#web-map > li {
	float: left;
	width: 30%;
	min-width: 125px;
}
#web-map > li:nth-child(3) {
min-height: 213px;
}


#web-map > li > a {
	width: 67%;
	font-family: MuseoSans_700, Helvetica, Arial;
	font-size: 1.2em;
	display: block;
	border-bottom: solid 1px #C7C7C7;
	margin: 0.3em 0px;
	padding: 0.3em 0px;
}
#web-map li {
	list-style: none;
}
#web-map ul {
	font-family: OpenSansLight, Helvetica, Arial;
	display: inline-block;
	float: left;
	margin: 0px;
	padding: 0px;
}
#web-map ul li {
	padding-bottom: 0.3em;
	font-size: 0.85em;
}
