
/* COMMON STYLE



--------------------------------------------------------- */

.contentheading {
	padding-top: 30px;
}

.contentheading, .componentheading, .blog_more strong,  .nftitle, h1, .componentheading {
    font: 3.3em/1.2em Titillium_light, Arial, sans-serif;
    border-bottom: solid 1px #DBDBDB;
    letter-spacing: 0;
    padding-bottom: 10px;
    color: #E08220;
    margin: 20px 0px 15px 0px;
    font-weight: bold;
}

h2{
font: 40px MuseoSans_700,Helvetica, Arial;
color: #686565;
/*margin: 50px 0px 27px 0px;*/
margin: 0.7em 0px 0.5em 0px;
}

h3{
font: 1.7em/1.2em Museosans_500, Arial, sans-serif;
margin: 25px 0px 10px 0px;
color: #4E8F50;
}

h4{
font: 1.2em/1em Museosans_700, Arial, sans-serif;
margin: 25px 0px 10px 0px;
color: #585858;
}
.prod_title  {
	font: 32px MuseoSans_700,Helvetica, Arial;
	color: #686565;
	margin: 20px 0px 12px 0px;
}

.responsive_table th {
	font-family: MuseoSans_500;
	font-size: 21px;
	color: #686565;
	margin: 10px 0px;
}

/*------------------------------TABS DE PRODUCTS------------------------- */

#product_tab{
	
border-collapse: collapse;
display: table;
padding: 0px;
margin-top: 20px;
width: 100%;
border-bottom: solid 3px #4E8F50;
}

#product_tab li{
cursor: pointer;
display: table-cell;
font-size: 15px;
padding: 11px 12px;
text-align: center;

-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background-color: #F8F8F8;
border: solid 1px #E9E9E9;

background: linear-gradient(to bottom, #FFF 0%, #F7F7F7 100%);
transition: none;
}


#product_tab li:hover{
background: #F3F3F3;
transition: 0.25s;
}
#product_tab li.active{
background: #4E8F50;
color: #FFF;
border: solid 1px #4E8F50;
}

#content_tabs{
margin: 20px 0px 40px 0px;
display: inline-block;
width: 100%;
}

#content_tabs > div{
	display:none;
}
#content_tabs .active{
	display: block;
}

#content_tabs table{
	border-color: transparent;
	/*line-height: 20px;*/
}

#content_tabs .specs tr:nth-child(2n){
	background: #F7F7F7;
	
}

#content_tabs .specs tr:hover{
	background: #F5EAEA;
	
}


#content_tabs table td{
	padding: 7px 5px;
	background: rgba(0, 0, 0, 0);
}


/*-----------------------------------------------------------------------*/
#product_bar{
margin: -9px 5px 0px 0px;
display: inline-block;
width: 100%;
}

.arrow_icon{
	padding-left: 18px;
	background: url('images/download_arrow.png') left 4px no-repeat;
}

#download_pdf{
font: 13px Museosans_700,Helvetica;
float: right;
display: block;
text-transform: uppercase;
padding: 5px 15px;
color: #818181!important;
border: solid 1px rgba(0, 0, 0, 0);
}

#download_pdf:hover{
	border: solid 1px #DBDBDB;
	background-color: #DFDFDF;
    background: linear-gradient(to bottom, #FFF 0%, #FAFAFA 100%);
    text-shadow: 0px 1px 0px #FFF;
    transition: 0.25s;
    box-shadow: 0px 1px 2px rgba(172, 172, 172, 0.34);
}

#download_pdf:active{
box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.19);
}


.product_article table td {
	background-color: white;
}
.product_desc {
	float: left;
	width: 55%;
	min-width: 350px;
}
.product_desc ul {
position: relative;
display: inline-block;
min-width: 343px;
font: 16px/30px museosans_300;
background: #F5F5F5;
padding: 1em 0px;
margin: 0px 0px 16px 0px;
border: solid 1px #D3D3D3;
}
.product_desc ul li {
	display: block;
	padding: 0px 7%;
}
.product_img {
	display: table-cell;
	text-align: center;
	float: left;
	width: 40%;
	vertical-align: middle;
}
.product_img img {
	vertical-align: middle;
}
.product_desc .productPrice {
	position:relative;
display: block;
text-align: center;
font-family: museosans_700;
font-weight: bold;
white-space: nowrap;
background-color: #6DC26D;
border: 1px solid #13BD13;
color: #FFF;
font-size: 34px;
margin-top: 8px;
padding: 11px 11px 11px 40px;
text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.44);
}
.product_desc .price_pvp{
position: absolute;
top: -1px;
font-size: 0.4em;
left: -1px;
border: solid 1px rgba(131, 131, 131, 0.69);
width: 40px;
height: 39px;
background-color: #999;
box-shadow: 2px 0px 3px rgba(0, 0, 0, 0.16);
padding-top: 13px;
vertical-align: middle;
background: linear-gradient(to bottom, #B8B5B5 0%, #7C7C7C 100%);
}

.product_price span {
	padding: 11px;
	display: block;
}


/*Botones de la pestaña de descargas*/

.large_button_download {
	display: inline-block;
	float: left;
	margin: 0px;
	padding: 0px;
	list-style: none;
        width: 100%;
}
.large_button_download li > a {
cursor: pointer;
display: table;
width: 96%;
border: solid 1px #DFDFDF;
color: #8D8D8D;
background-color: #F5F5F5;
padding: 0.8em 2%;
margin-bottom: 0.9em;
text-shadow: 0px 1px 0px #FFF;
box-shadow: 0px 1px 0px #F0F0F0;
transition: 0.25s;
}
.large_button_download li > a:hover {
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.12);
	background: #F7F7F7;
}
.large_button_download li > a:active {
	box-shadow: inset 0px 0px 9px rgba(0, 0, 0, 0.25);
	background: #F1F1F1;
	border-color: #FAFAFA;
}

.large_button_download .title{
    font: 19px Museosans_700,Helvetica,Arial;
    color: #808080;
    margin-bottom: 5px;
}

.large_button_download .description{
    color: #AAA;
}

.large_button_download .content{
    display: table-cell;
    padding-left: 1em;
	vertical-align: top;
}

.file_icons{
background: url(../images/file_icons_2.png) no-repeat;
width: 50px;
height: 67px;
display: table-cell;
padding-right: 1em;
border-right: solid 1px #D6D6D6;

}

.file_icons.pdf{
    background-position: -16px -7px;
}
.file_icons.html{
background-position: -81px -7px;
}
.file_icons.zip_images{
    background-position: -150px -7px;
}
.file_icons.csv{
    background-position: -219px -7px;
}

.file_icons.academy{
background-position: -284px -7px;
}




/*-------MENU IZQUIERDO DE PRODUCTOS-------*/



/*-------------BROWSER de productos------------------*/

.browseProductContainer,.browseCategoryContainer{
position: relative;
line-height: 22px;
font-size: 15px;
border: 1px solid #CAC6C6;
background-color: #EEE;
	}
.browseProductContainer:hover,.browseCategoryContainer:hover{
border: solid 1px #FFF;
outline: solid 3px #4E8F50;
transition: 0.25s;
}

.browseProductContainer a{
	padding: 0px 20px;
	min-height: 322px;
	display: block;
}
.browseCategoryContainer a{
padding: 20px;
min-height: 178px;
display: block;
}

.browseCategoryContainer img{
	display:block;
	margin:0px auto;

}
.browseCategoryContainer .category_name{
border-top: solid 1px #CECECE;
margin: 23px auto 0px auto;
padding: 11px;
text-align: center;
font: 17px/19px MuseoSans_500,Helvetica, Arial;
}

.browse_header{
position: relative;
display: block;
height: 90px;
border-bottom: solid 1px #C7C7C7;
}
.browseProductImage{
    position: absolute;
    right: 0px;
    max-width: 80%;
    height: 100%
}
	
.prod_title {
font-size: 21px;
padding: 17px 0px 5px 0px;
position: absolute;
bottom: 0px;
}
.browseProductContainer ul{
padding: 13px 0px;
font-size:14px;
}

.browseProductContainer ul li{
padding: 4px 0px;
}

.browseProductContainer .productPrice{
font: 19px MuseoSans_700;
background-color: #4E8F50;
padding: 9px;
position: absolute;
bottom: -1px;
right: -1px;
color: #FFF;
}

.browseProductContainer .price_pvp{
	font-size:12px;
}


/*------------------------------------*/



#table_wrap{
	display:table;
	background-color: #FFF;
}

#table_wrap > div{
vertical-align: top;
display: table-cell;
padding: 0px;
margin: 0px;
clear: both;
}

#table_wrap #page_style{
    padding-left: 20px;
}

#product_navigator ul{
	padding:0px;
	margin:0px;
}

#product_navigator li > ul {
	display:none;
}

#product_navigator {
vertical-align: top;
font-size: 15px;
/*font: 17px/23px museosans_300;*/
position: relative;
padding: 0px;
left: -9px;
color: whitesmoke;
min-width: 202px;
}

#product_navigator > li {
display: block;
border-bottom: solid 1px #838383;
background-color: #616161;
}

#product_navigator > li:hover {
background-color: #575656;
}




#product_navigator li a {
	display: block;
	padding: 14px 27px;
}

#product_navigator ul > li > a {
	font-size: 14px;
}

#product_navigator > li > a.active {
background-color: #4E8F50;

}



/*segundo nivel*/


#product_navigator .active {
	display: block;
}


#product_navigator ul > li{
background-color: #A8A8A8;
border-bottom: solid 1px #969696;
}

#product_navigator #product_level li{
background-color: #F7F7F7;
border-bottom: solid 1px #DFDFDF;
border-right: solid 1px #ECECEC;
border-left: solid 1px #ECECEC;

}
#product_level li a{
font-size: 14px;
color: #808080;
padding: 10px 33px;
}

#product_level li a.active{
border-left: solid 4px #4E8F50;
padding-left: 29px;
color: #4E8F50;
}

#product_level li a:hover{
border-left: solid 4px #808080;
padding-left: 29px;
}

/*FINAL MENU LEFT de productos*/

/*--------------------------------------*/


.responsive_table th{
padding: 10px 0px;
border-bottom: solid 2px #4E8F50;
}

.responsive_table td{
	padding:10px;
}

.responsive_table tbody tr:nth-child(even){
background-color: #F0F0F0;
}
/**************FORM*************************/

#success{
padding: 7%;
}
#success div{
color: #FFF;
background-color: #81B981;
font: 2.4em/1.5em museosans_700;
margin: 0px auto;
width: 100%;
text-align: center;
border-width: 4px 0px 5px 0px;
border-style: solid;
border-color: #008000;
padding: 19px 0px;
text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3);
	}
#success img{
width: 20em;
margin: 13px auto 58px auto;
display: block;

}

.error{
background-color: #FFE7E7;
}
.responsive_form{
	width:100%;
		position: relative;
	z-index: 0;
	padding: 0;
	font-size: 0.8em;
}
.responsive_form label{
width: 25%;

padding: 10px;
float: left;
font-size: 20px!important;
min-width:200px;
}
.responsive_form select,.responsive_form textarea,.responsive_form input{
border: solid 1px #D3D3D3;
padding: 10px;

margin: 0px;
margin-bottom: 10px;
font-size: 20px!important;
width:50%;
min-width: 250px;
}
.responsive_form select{
height: 50px;
}
.responsive_form input{
height: 20px;
}

.responsive_form select:focus,.responsive_form textarea:focus,.responsive_form input:focus{
border: solid 1px #4E8F50;
box-shadow:none;
outline: none;
}

/**/
body.fs1 {
	font-size: 10px;
}
body.fs2 {
	font-size: 11px;
}
body.fs3 {
	font-size: 12px;
}
body.fs4 {
	font-size: 13px;
}
body.fs5 {
	font-size: 14px;
}
body.fs6 {
	font-size: 15px;
}

/*H-SERIES*/

.note{
border: 1px solid #56DBD6;
background-color: #E9F6FA;
padding: 13px;
}

.head_lines{
border-left: 2px solid #4E8F50;
padding-left: 19px;
}


.download_table {
	display:inline-block;
	border: solid 1px #E6E6E6;
	width: 100%;
border-radius: 2px;
}


.download_table .row:nth-child(odd){
background-color: #F1F1F1;

}

.download_table .row > div
{
	float:left;
}


.minus_s,.plus_s{
position: absolute;
top: 5px;
right: 7px;
display: block;
cursor:pointer;
width: 25px;
height: 25px;
padding: 0px;
border: solid 1px #E6E6E6;
box-shadow: 0px 0px 3px #DFDFDF;
border-radius: 2px;
}

.minus_s:active,.plus_s:active{
box-shadow: inset 0px 1px 3px #E4E4E4;
border: solid 1px #E6E6E6;
}

.plus_s{
background: #FFF url(images/plus_s.png) center 1px no-repeat;
}

.minus_s{
background: #FFF url(images/minus_s.png) center 1px no-repeat;
}

.download_table .row{
	position:relative;
	display: inline-block;
	float:left;
	width:100%;
}

.download_table .separator{
background-color: #CFB4B4;
height: 3px;
display: block;
float: left;
width: 100%;
}

.download_table .row > div:nth-child(1){
font:15px MuseoSans_700,Helvetica, Arial;
padding: 8px 15px 8px 8px;
font-size:15px;
color: #8A8A8A;
min-width: 175px;
}
.download_table .column{
	width:200px;
	padding: 5px;
	text-align: left;
}

.download_table .column.double{
width: 300px;
/*float: right;*/
}


.download_table .column a{
font: 12px MuseoSans_700,Helvetica, Arial;
padding: 5px 0px;

text-transform: uppercase;
}

.download_table .column a:hover{
color: #4E8F50;
}

.download_table .column .so_s{
margin-top: -5px;
}

.download_table .details{
height: 0px;
overflow: hidden;
border-top: none;
padding: 0px;
margin-right: 11px;
font-size: 0.8em;
text-align: left;
transition: ease-in 0.1s;
}
.download_table .details.view_details/*view_details se activa cuando se pulsa en el mas*/
{
	border-top: solid 1px #D5D5D5;
	height:auto;
	padding: 5px 0px;
	transition:ease-in 0.25s;

}

.download_table .updates
{
	color:white;
	transition: ease-in 0.25s;
	text-align: left;
	font-size: 0.8em;
	background-color: #A2A2A2;
	margin: 0px;
}

.download_table .updates.view_details/*view_details se activa cuando se pulsa en el mas*/
{
	border-top: solid 1px #D5D5D5;
	padding: 3em;
}

.download_table .updates .title{
font-size: 2em;
border-bottom: solid 1px #FFF;
margin-bottom: 0.8em;
padding-bottom: 0.1em;
}


.download_table .row:hover .flags, .download_table .row:hover .so_s{
	opacity:1;
}


.details > span{
	margin: 0px 7px;
}


.so_s{
	opacity:0.5;
	display: inline-block;
	background: url(images/so_s.png) repeat-x;
	height: 17px;
	width: 17px;
	margin: 1px 14px;
}
.so_s.windows{
	position: relative;
	top: 2px;
	background-position: -24px 0px;
}
.so_s.mac{
	background-position: 0px 0px;
}


.flags{
display: inline-block;
background: url(images/flags.png) left top no-repeat;
width: 17px;
height: 11px;
margin-left: 14px;
opacity:0.5;
}

.flags.en{
	background-position: 0px 0px;
}
.flags.es{
	background-position: -18px 0px;
}
.flags.it{
background-position: -71px 0px;
}
.flags.pt{
background-position: -36px 0px;
}





.download_table .column a.flags{
	padding:0px;
	margin:0px;
	display:inline-block;
}

/*FIN H-SERIES*/
/* Normal link */

.hidden{
	display: none;
}

.contentpane a {
	color: #A70330; /*jordi*/
	text-decoration: none;
}
.contentpane a:hover, .contentpane a:active, .contentpane a:focus {
	color: #FFFFFF;
	text-decoration: underline;
}
/* Small text */



small, .small, .smalldark, .createby, .createdate, .modifydate, .img_caption,  span.site-slogan, a.readon, #ja-headtools, #ja-pathway, #ja-botsl21, #ja-botsl22, #ja-footer {
	font-size: 92%;
}
small, .small, .img_caption {
	color: #999999;
}
.contentpane ul {
	list-style: none;
}
.contentpane ul li {
	background: none;
	line-height: 160%;
	padding-left: 30px;
}
.contentpane ol li {
	line-height: 180%;
	margin-left: 35px;
}
.contentpane th {
	font-weight: bold;
	padding: 5px;
	text-align: left;
}
fieldset {
	border: none;
	padding: 10px 5px;
}
fieldset a {
	font-weight: bold;
}
fieldset.input {
	padding: 0;
}
hr {
	border-bottom: 0;
	border-left: 0;
	border-right: 0;
	border-top: 1px solid #DDDDDD;
	height: 1px;
}
/* FORM



--------------------------------------------------------- */



#main form {
	position: relative;
	z-index: 0;
	padding: 0;
	font-size: 0.8em;
}
form label {
	cursor: pointer;
}
.inputbox {
	background: #FFFFFF;
	border: 1px solid #DDDDDD;
	color: #666666;
	padding: 2px;
	margin: 0 5px;
    width: 80%;
}
.button {
	background: #FFFFFF !important;
	border: 1px solid #DDDDDD;
	color: #666666;
	font-weight: bold;
	padding: 1px 8px !important;
}
.button:hover,  .button:active,  .button:focus {
	background: #FFFFFF !important;
	color: #111111;
	font-weight: bold;
	padding: 1px 8px;
	text-decoration: none;
}
* html .button {
	padding: 0 5px !important; /*IE 6*/
}
*+html .button {
	padding: 0 5px !important; /*IE 7*/
}
/* JOOMLA STYLE



--------------------------------------------------------- */



.article_separator {
	clear: both;
	display: block;
	height: 30px;/*background: url(../images/dot.gif) repeat-x center;*/



}
.article-content border_img {
	margin-right: 10px;
	margin-top: 5px;
	padding: 3px;
	border: 1px solid #DDDDDD;
}
.article-tools .article-meta {
	float: left;
}
.article-tools .buttonheading {
	float: right;
}
.img_caption {
	float: left;
}
.column_separator {
	padding: 0 5px;
}
span.open {
	background: url(../images/so-q.gif) no-repeat left top;
	padding: 2px 0 2px 10px;
}
span.close {
	background: url(../images/sc-q.gif) no-repeat right bottom;
	padding: 2px 10px 2px 0;
}
/* content tables */



.sectiontableheader {
	background: #333333;
	border-right: 1px solid #CCCCCC;
	padding: 4px;
}
tr.sectiontableentry0 td,  tr.sectiontableentry1 td,  tr.sectiontableentry2 td {
	padding: 4px;
}
tr.sectiontableentry2 td {
	background: #E5E5E5;
}
table.contentpane {
	border: none;
	width: 100%;
}
table.contentpaneopen {
	border: none;
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	margin-bottom: 20px;
}
table.contenttoc {
	font-size: 92%;
	margin: 0 0 10px 10px;
	padding: 0;
	width: 35%;
}
table.contenttoc a {
	text-decoration: none;
}
table.contenttoc td {
	background: url(../images/bullet.gif) no-repeat 10px 7px;
	padding: 1px 5px 1px 15px;
}
table.contenttoc th {
	border-bottom: 1px solid #E5E5E5;
	padding: 0 0 3px;
	text-indent: 5px;
}
table.poll {
	border-collapse: collapse;
	padding: 0;
	width: 100%;
}
table.pollstableborder {
	border: none;
	padding: 0;
	text-align: left;
	width: 100%;
}
table.pollstableborder img {
	vertical-align: baseline;
}
table.pollstableborder td {
	background: none;
	border-collapse: collapse;
	border-spacing: 0;
	padding: 4px !important;
}
table.pollstableborder tr.sectiontableentry1 td {
	background: #E5E5E5;
}
table.searchintro {
	padding: 10px 0;
	width: 100%;
}
table.searchintro td {
	padding: 5px!important;
}
.blog_more strong {
	display: block;
	font-size: 125%;
	margin: 0 0 5px;
	font-weight: bold;
}
.blog_more ul {
	margin: 0;
	padding: 0;
}
.blog_more ul li {
	background: url(../images/arrow.png) no-repeat 6px 7px;
	margin: 0;
	padding: 0 0 0 15px;
}
.category {
	font-weight: bold;
}
.blog h2.contentheading, .blog .contentheading {
	font-size: 150%;
}
a.contentpagetitle {
}
a.contentpagetitle:hover,  a.contentpagetitle:active,  a.contentpagetitle:focus {
	color: #D33615;
}
.contentdescription {
	padding-bottom: 30px;
}
table.contentpane form,  table.contentpane table {
	width: 100%;
}
a.readon {
	background: #333333;
	color: #CCCCCC;
	text-align: center;
	text-decoration: none;
	padding: 2px 5px;
}
a.readon:hover, a.readon:focus, a.readon:active {
	background: #D33615;
	color: #FFFFFF;
	text-decoration: none;
}
.moduletable {
	padding: 0;
}
div.blog_more {
	padding-top: 15px;
}
ul.pagination {
	margin: 0;
	padding: 0;
}
ul.pagination li {
	background: none;
	display: inline;
	margin: 0;
	padding: 0;
}
ul.pagination li span {
	padding: 2px 5px;
}
ul.pagination a {
	padding: 2px 3px;
	text-decoration: none;
}
ul.pagination a:hover, ul.pagination a:active, ul.pagination a:focus {
}
.pagenavbar {
	background: url(../images/icon-pages.gif) no-repeat center left;
	font-weight: bold;
	padding-left: 14px;
}
.pagenavcounter {
	background: url(../images/icon-pages.gif) no-repeat 0 11px;
	font-weight: bold;
	padding: 8px 14px 0 14px;
}
.sectiontableheader {
	color: #FFFFFF;
	font-weight: bold;
	padding: 8px 5px;
}
.sectiontableheader a {
	color: #FFFFFF;
}
tr.sectiontableentry1 td {
	padding: 8px 5px;
}
tr.sectiontableentry2 td {
	padding: 8px 5px;
}
tr.sectiontableentry1:hover td,  tr.sectiontableentry2:hover td {
}
.smalldark {
	text-align: left;
}
div.syndicate div {
	text-align: center;
}
.pollstableborder tr.sectiontableentry1 td,  .pollstableborder tr.sectiontableentry2 td {
	background: none;
}
/* META



--------------------------------------------------------- */



.createdate {
	color: #999999;
}
.modifydate {
	color: #999999;
	display: block;
	float: left;
	margin-top: 10px;
	width: 100%;
}
.buttonheading {
}
.buttonheading img {
	border: 0;
	float: right;
	margin: 7px 5px 0 0;
}
/* PRIMARY COLUMN



--------------------------------------------------------- */



#ja-content {
	display: inline;
	float: left;
	width: 745px;
}
#ja-content .main {
	width: 730px;
}
#ja-col1 {
	display: inline;
	float: left;
	padding-top: 15px;
	width: 215px;
	line-height: 1.5;
}
#ja-container-fl #ja-current-content {
	float: left;
	width: 700px;
}
#ja-container-fl #ja-content {
	width: 100%;
}
#ja-container-fr #ja-current-content {
	width: 715px;
}
#ja-container-f #ja-current-content,  #ja-container-f #ja-current-content .contentpane,  #ja-container-f #ja-current-content .contentpane .wrapper {
	width: 100%;
	display: block;
}
#ja-container #ja-current-content {
	float: left;
	width: 470px;
}
#ja-current-content .article-content {
	clear: both;
}
#ja-container-fl #ja-content .main {
	padding: 15px 0;
	width: 100%;
}
#ja-container #ja-content .main {
	padding: 15px 0 15px 15px;
}
#ja-container-f #ja-content .main {
	padding: 15px 0;
	width: 100%;
}
#ja-container-fr #ja-content .main {
	padding: 15px 0 15px 15px;
}
/*columns*/



#ja-col2 {
	float: right;
	width: 240px;
	line-height: 1.5;
}
#ja-col2 .main {
	padding-top: 15px;
	width: 100%;
}
#ja-col2 div.inner {
	padding: 15px;
}
/*common style for column*/



#ja-cols table {
	border-collapse: collapse;
	border-spacing: 0;
}
#ja-cols .article_separator {
	display: none;
}
#ja-cols ul {
	list-style: none;
}
/* COLLAPSIBLE LAYOUT



--------------------------------------------------------- */



#ja-container,  #ja-container-f,  #ja-container-c,  #ja-container-fl {
	clear: both;
	min-height: 400px;
	padding: 0 0 15px;
}
/* full */



#ja-container-f .main {
	background: none;
}
#ja-container-f #ja-content {
	width: 100%;
}
/* content + 1 col */



#ja-container-c .main {
	background: none;
}
#ja-container-c #ja-content {
	width: 75%;
}
#ja-container-c #ja-cols {
	width: 22%;
}
#ja-container-c #ja-col2 {
	width: 100%;
}
/* MODULE



--------------------------------------------------------- */



div.moduletable-nobox h3,  div.moduletable h3,  div.moduletable_text h3,  div.moduletable_menu h3 {
	border-bottom: 1px solid #DDDDDD;
	color: #333333;
	letter-spacing: .5px;
	margin: 0 0 10px;
	padding: 2px 0 5px;
}
span.first-word {
	color: #333333;
}
div.moduletable,  div.moduletable_text,  div.moduletable_menu {
	margin: 0 0 15px;
	padding: 0 0 5px;
}
div.moduletable_blank {
	margin: 0 0 15px;
}
div.color1 h3 {
	color: #D33615;
}
div.color2 h3 {
	color: #8C9520;
}
div.color3 h3 {
	color: #116593;
}
/* mis */



div.moduletable ul,  div.moduletable_text ul {
	margin: 0;
	padding: 0;
}
div.moduletable li,  div.moduletable_text li,  div.moduletable_menu li {
	line-height: 20px;
	margin: 0;
	padding-left: 0;
}
div.moduletable li a,  div.moduletable_text li a,  div.moduletable_menu li a {
	display: block;
	padding: 5px 2px 5px 15px;
}
ul.ja-bullettin li a {
	display: inline;
	padding: 0;
}
/* Default Module */



#ja-col2 div.moduletable,  #ja-col2 div.moduletable_text,  #ja-col2 div.moduletable_menu {
	background: #FFFFFF;
	border: 1px solid #DDDDDD;
	margin: 0 0 15px;
}
#ja-col2 div.moduletable h3,  #ja-col2 div.moduletable_text h3,  #ja-col2 div.moduletable_menu h3 {
	background: #333333;
	color: #FFFFFF;
	margin: 0 -1px;
	padding: 10px;
	border-bottom: 1px solid #222222;
}
#ja-col2 div.moduletable_highlight {
	background: #F6F6F6;
	border: 1px solid #DDDDDD;
	margin: 0 0 15px;
}
#ja-col2 div.moduletable_highlight h3 {
	background: #D33615;
	color: #FFFFFF;
	margin: 0 -1px;
	padding: 10px;
}
#ja-col2 div.ja-innerdiv {
	border: none;
	padding-left: 10px;
}
#ja-col2 div.moduletable div.ja-innerdiv img,  #ja-col2 div.moduletable_highlight div.ja-innerdiv img,  #ja-col2 div.moduletable_text div.ja-innerdiv img {
	border: none;
}
/*jordi a�ado*/



#ja-col1 div.moduletable_highlightv {
	background: #F6F6F6;
	border: 1px solid #DDDDDD;
	/*margin: 0 0 15px;*/ /*jordi comento*/

	

	padding: 10px;
}
#ja-col2 div.moduletable_highlightv h3 {
	background: #D33615;
	color: #FFFFFF;/*margin: 0 -1px;*/ /*jordi comento*/



	/*padding: 10px;*/



}
#ja-col2 div.moduletable_highlightv div.ja-innerdiv img {
	border: none;
}
/*jordi finalizo*/







#ja-col2 div.moduletable_menu {
	padding-bottom: 0;
}
/* HEADER



--------------------------------------------------------- */



#ja-header {
	height: 100px;
	z-index: 999;
}
#ja-header .main {
	height: 100px;
	position: relative;
}
h1.logo, h1.logo-text {
	font-size: 300%;
	left: 0;
	letter-spacing: 1px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 15px;
}
h1.logo a {
	background: url(../images/logo.png) no-repeat;
	display: block;
	height: 60px;
	width: 495px;
}
h1.logo a:hover, h1.logo a:active, h1.logo a:focus {
}
* html h1.logo a:hover {
	background: none;
	cursor: pointer;
}
h1.logo a span {
	position: absolute;
	top: -1000px;
}
h1.logo-text a {
	color: #FFFFFF;
	text-decoration: none;
}
h1.logo-text a:hover, logo-text a:active, logo-text a:focus {
	background: none;
	color: #FFFFFF;
}
span.site-slogan {
	color: #FFFFFF;
	display: block;
}
/* Headtools ---*/



#ja-headtools {
	position: absolute;
	right: 15px;
	top: 50px;
}
#ja-headtools ul {
	float: left;
	margin: 0;
	padding: 0;
	white-space: nowrap;
}
#ja-headtools li {
	background: none;
	display: inline;
	line-height: normal;
	margin: 0;
	padding: 0;
}
#ja-headtools li a {
	background: url(../images/arrow.png) no-repeat 10px center;
	padding: 0 10px 0 20px;
	line-height: 25px;
	display: block;
	float: left;
}
#ja-headtools li a:hover {
	background: url(../images/arrow-hover-90cw.png) no-repeat 10px center;
	text-decoration: none;
}
#ja-headtools li a.show {
	color: #FFFFFF;
	background: url(../images/arrow-light-90cw.png) no-repeat 10px center #333333 !important;
}
#ja-register, #ja-login {
	background: #FFFFFF;
	border: 1px solid #DDDDDD;
	display: none;
	height: auto;
	overflow: hidden;
	padding: 5px 15px;
	position: absolute;
	right: -15px;
	text-align: left;
	top: 25px;
	z-index: 999;
}
.ja-login-links {
	margin-top: 10px;
}
/* MAIN NAVIGATION



--------------------------------------------------------- */



#ja-mainnav {
	z-index: 999;
}
#ja-mainnav .main {
	background: #333333;
	padding: 0;
	position: relative;
	height: 40px;
}
#ja-mainnav .main .inner {
	position: relative;
}
#ja-subnav .main {
	background: none;
	border-bottom: 1px solid #DDDDDD;
}
#ja-subnav ul {
	margin: 0;
}
#ja-subnav ul li {
	list-style: none;
	display: inline;
	float: left;
	padding: 0;
	margin: 0;
}
#ja-subnav ul li a {
	color: #333333;
	display: block;
	padding: 5px 15px;
	text-decoration: none;
	background: #F6F6F6 url(../images/arrow.png) no-repeat 5px center;
}
#ja-subnav ul li.active a,  #ja-subnav ul li a:hover,  #ja-subnav ul li a:active,  #ja-subnav ul li a:focus {
	background: #F6F6F6 url(../images/arrow-hover.png) no-repeat 5px center;
	color: #D33615;
}
#ja-search {
	position: absolute;
	right: 10px;
	top: 7px;
}
#mod_search_searchword {
	background: #666666;
	border: 1px solid #666666;
	color: #CCCCCC;
	padding: 4px 5px;
}
/* Pathway ---*/



#ja-pathway {
	background: #F6F6F6;
	border-bottom: 1px solid #DDDDDD;
	border-top: 1px solid #DDDDDD;
	color: #666666;
}
#ja-pathway span {
	padding: 0 5px;
	line-height: 30px;
}
#ja-pathway .main {
	position: relative;
}
#ja-pathway strong {
	margin-right: 5px;
}
#ja-pathway a {
	color: #666666;
	text-decoration: none;
	line-height: 30px;
	display: inline-block;
}
#ja-pathway a:hover,  #ja-pathway a:active,  #ja-pathway a:focus {
	color: #D33615;
	text-decoration: underline;
}
#ja-pathway img {
	margin: 1px 5px;
}
/* Default Joomla! Menu */



ul.menu {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.menu li {
}
ul.menu li a {
	display: block;
	outline: none;
	padding: 5px 5px 5px 20px;
	text-decoration: none;
	border-top: 1px solid #E5E5E5;
	background: url(../images/arrow.png) no-repeat 12px center;
	color: #666666;
}
ul.menu li a:hover,  ul.menu li a:active,  ul.menu li a:focus {
	color: #666666;
	background: #F6F6F6 url(../images/arrow.png) no-repeat 12px center;
	text-decoration: none;
}
ul.menu li.active a {
	font-weight: bold;
	background: #E5E5E5 url(../images/arrow.png) no-repeat 12px center;
}
ul.menu li ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.menu li li {
	border: none;
}
ul.menu li li a {
	background: #FFFFFF url(../images/bullet.gif) no-repeat 20px center !important;
	border: none;
	font-weight: normal !important;
	padding-left: 30px !important;
	width: 75%; /*need for ie6*/
}
ul.menu li li a:hover,  ul.menu li li a:active,  ul.menu li li a:focus {
	background: none;
	color: #666666;
}
/* SPOTLIGHT



--------------------------------------------------------- */



.ja-box-full, .ja-box-left, .ja-box-center, .ja-box-right {
	float: left;
	overflow: hidden;
	padding-top: 15px;
	padding-bottom: 15px;
}
.ja-box-left div.moduletable {
	padding-right: 15px;
}
.ja-box-center div.moduletable {
	padding: 0 15px;
}
.ja-box-right div.moduletable {
	padding-left: 15px;
}
/* Top spotlight ---*/



#ja-content #ja-topsl .main {
	padding-left: 0;
	padding-top: 0;
}
/* Bottom spotlight ---*/



#ja-botsl1 {
	background: #E5E5E5;
}
#ja-botsl1 h3 {
	border: none;
}
#ja-botsl1 div.moduletable {
	border-right: 1px solid #D5D5D5;
}
#ja-botsl2 {
	background: #F6F6F6;
	color: #333333;
}
#ja-botsl2 .img_caption img {
	border: 5px solid #CCCCCC;
	margin: 0;
	padding: 0;
}
#ja-botsl2 .img_caption {
	float: none;
}
/*Common style for soptlight*/



#ja-botsl2 div.ja-innerdiv,  #ja-botsl1 div.ja-innerdiv {
	border: none;
}
#ja-botsl2 div.moduletable,  #ja-botsl1 div.moduletable {
	margin-bottom: 0;
}
/* FOOTER



--------------------------------------------------------- */



#ja-footer {
	background: #333333;
	border-bottom: 3px solid #111111;
	text-align: center;
}
#ja-footer .sublogo {
	float: left;
	width: 32%;
}
#ja-footer .ja-info {
	float: left;
	padding-left: 10px;
	padding-top: 15px;
	width: 65%;
}
#ja-footer .main {
	text-align: left;
}
#ja-footer small {
	color: #666666;
	font-size: 100%;
	margin-top: 10px;
}
#ja-footer ul {
	line-height: normal;
	margin: 0;
}
#ja-footer li {
	background: url(../images/vline.gif) no-repeat left;
	display: inline;
	margin: 0;
	padding: 0 10px;
}
#ja-footer a {
	background: none;
	color: #666666;
	display: inline;
	line-height: normal;
}
#ja-footer a:hover,  #ja-footer a:active  #ja-footer a:focus {
	background: none;
	color: #FFFFFF;
	text-decoration: underline;
}
.ja-footurl {
	clear: both;
	float: none;
}
/* MISCELLANOUS



----------------------------------------------------------- */



.clr {
	clear: both;
}
.hasTip img {
	border: none;
	margin: 10px 5px 0 0;
}
div.ja-innerdiv {
	border-bottom: 1px dotted #CCCCCC;
	padding: 10px 0 15px;
}
div.ja-innerdiv img {
	margin: 5px 10px 0 0;
	padding: 3px;
	border: 1px solid #DDDDDD;
}
div.ja-innerdiv span.date {
	font-size: 80%;
	font-weight: bold;
}
li.ja-firstitem,  .firs-titem {
	background: none !important;
	padding-left: 0 !important;
}
/* Tooltips */



.tool-tip {
	background: #FFFFFF;
	border: 1px solid #DDDDDD;
	float: left;
	max-width: 600px;
	padding: 5px;
}
.tool-title {
	background: url(../../system/images/selector-arrow.png) no-repeat;
	font-size: 100%;
	font-weight: bold;
	margin: 0;
	margin-top: -15px;
	padding: 0;
	padding-bottom: 5px;
	padding-top: 15px;
}
.tool-text {
	font-size: 100%;
	margin: 0;
}
#system-message {
	margin: 10px;
}
#system-message a {
	color: #333333;
}
#system-message dd {
	text-indent: 0;
}
#system-message dt.notice,  #system-message dt.error,  #system-message dt.done,  #system-message dt.message {
	display: none;
}
#system-message dd.message ul,  #system-message dd.error ul,  #system-message dd.notice ul,  #system-message dd.done ul {
	border: none;
	margin: 0;
	padding: 0;
}
#system-message dd.message ul li,  #system-message dd.error ul li,  #system-message dd.notice ul li {
	background: none;
	margin: 0;
	padding: 5px 5px 5px 30px;
}
/* System Standard Messages */



#system-message dd.message ul {
	background: url(../images/icon-info.gif) #FAFAFA no-repeat 10px;
	color: #666666;
}
#system-message dd.done ul {
	background: #FAFAFA;
	color: #666666;
}
/* System Error Messages */



#system-message dd.error ul {
	background: url(../images/icon-error.gif) #FAFAFA no-repeat 10px !important;
	color: #D33615 !important;
}
/* System fade Messages */



#system-message dd.fade ul {
	background: url(../images/icon-info.gif) #FAFAFA no-repeat 10px;
	color: #666666;
}
/* System Notice Messages */



#system-message dd.notice ul {
	background: url(../images/icon-info.gif) #FAFAFA no-repeat 10px;
	color: #666666;
}
/*Agregado webempresa*/



.tabla {
	width: 100%;
}
.tabla th {
	background: #666;
	color: white;
	font-size: 12px;
	font-family: arial;
	text-align: center;
}
.tabla td, .tabla th {
	border: 1px solid #666;
}
