/* CSS Document */







#menu_top {
	position: absolute;
	font-family: Titillium, helvetica, Arial;
	font-size: 1em;
	display: inline-block;
	top: 0px;
	right: 0px;
	margin: 0px;
	padding: 0px;
	width: 100%;
	color: #FFFFFF;
}
#menu_top ul li, #jflanguageselection {
	display: table-cell;
	vertical-align: bottom;
	float: right;
	padding: 1em 2%;
	text-decoration: none;
	list-style: none;
	text-align: center;
}
#menu_top ul li:first-child {
	padding-right: 0px;
	/*color: #8CC63E;*/
}

#menu_top select{
font: 15px/26px titillium, Helvetica, Arial;
background-color: #4E8F50;
border: none;
padding: 4px;
border-radius: 3px;
top: -8px;
right: -14px;
position: relative;
color: #FFF;
}

.rawimages span {
	opacity: 0.4;
	margin: 0px 5px;
}
#active_language {
	opacity: 1;
}
#login {
	position: relative;
	top: -0.5em;
	font-weight: bold;
	color: #8CC63E;
	font-size: 1.3em;
}
nav {
	position: absolute;
	left: 0px;
	width: 100%;
	bottom: 0px;
}
#menu {
	position: absolute;
	bottom: 0px;
	display: block;
	font-family: Titillium, helvetica, Arial;
	font-size: 1.2em;
	display: inline-table;
	bottom: 0px;
	max-width: 992px;
	margin: 0px;
	padding: 0px;
	width: 100%;
}
#menu a {
 text-decoration:none;
}
#menu > li {
	float: left;
	text-decoration: none;
	list-style: none;
	width: 14%;
	text-align: center;
}
#menu > li > a {
	display: block;
	padding: 0.75em 0;
	border-width: 1px 1px 0px 1px;
	border-style: solid;
	border-color: transparent;
	transition: 0s;
}
#menu > li > a.active {
	border: none;
	border-bottom: solid 0.15em #4E8F50;
	padding: 0.69em 0;
}
#menu > li > a.active:after {
content:"";
}
	
#menu > li:hover > a {
	color: #4E8F50;
	background-color: #FFFFFF;
	box-shadow: 0px 2px 3px #C2BEBE;
	border-color: #F3F3F3;
	cursor: pointer;
	transition: 0.25s;
}
#menu > li:hover .submenu {
	visibility: visible;
	overflow: visible;
	opacity: 1;
	transition: 0.25s;
}
.submenu {
	text-align: left;
	opacity: 0;
	visibility: hidden;
	width: 100%;
	position: absolute;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.81);
	background-color: #FFFFFF;
	background: linear-gradient(to bottom, #FFFFFF 0%, #F3F3F3 100%);
	box-shadow: 0px 2px 3px #C2BEBE;
	border-width: 0px 1px 1px 1px;
	border-style: solid;
	border-color: rgba(0, 0, 0, 0);
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	left: 0px;
	transition: 0s;
}
.submenu_wrap {
	margin: 0.9em 3%;
	display: inline-block;
	width: 94%;
}
.list_submenu {
	display: inline-block;
	float: left;
	width: 100%;
	margin: 0.9em 0px 0em 3%;
	padding: 0px;
}
.thumb_submenu {
	display: none;
	float: right;
	width: 40%;
	margin: 1em 3%;
	padding: 0px;
}
.list_submenu > li {
	position: relative;
	float: left;
	width: 16%;
	min-width: 200px;
	margin-bottom: 10px;
	list-style: none;
	margin-right: 3%;
}
.list_submenu > li:hover > span {
	opacity: 0.3;
	transition: 0.25s;
}
.list_submenu > li > a {
	text-align: left;
	width: 100%;
	font: 19px MuseoSans_300, Helvetica, Arial;
	display: inline-block;
	border-bottom: solid 1px #C7C7C7;
	margin: 0.3em 0px;
	padding: 0.3em 0px;
}
.list_submenu ul {
	font-family: OpenSansLight, Helvetica, Arial;
	display: inline-block;
	float: left;
	margin: 0px;
	padding: 0px;
}
.list_submenu ul li {
	width: 100%;
	clear: left;
	padding-bottom: 0.5em;
	font-size: 0.75em;
	list-style: none;
}
.list_submenu ul li:hover {
	color: #4E8F50;
	cursor: pointer;
}
.list_bottom{
display: table;
margin: 0px 0px 0.9em 3%;
width: 97%;
}
.list_bottom >li{
padding-right: 2%;
display: table-cell;
float: none;
}
.list_bottom > li:nth-child(1){
width: auto;
}

.list_bottom > li:nth-child(2){
width: 13.5%;
}
.list_submenu ul li{
	clear:left;
	padding-bottom: 0.5em;
	font-size: 0.75em;
	list-style: none;

margin: 0px 0% 0px 0px;
width: 25%;
display: inline-block;
min-width: 158px;
}
#submenu_enterprise {
	margin: 0.9em 0px 0.9em 3%;
}
#submenu_enterprise > li {
	width: 44%;
}
.list_submenu .img {
	float: right;
	width: 38%
}
.list_submenu .intro_text {
	font: 0.6em OpenSansLight, Helvetica, Arial;
	display: inline-block;
	text-align: justify;
	float: left;
	height: 100%;
	width: 57%;
	margin-right: 5%;
	padding: 0px;
}
.read_more, .button_ribbon .caption {
	cursor: pointer;
	font: 1em 'OpenSansLight', Helvetica, Arial;
	display: inline-block;
	border: solid 1px #DBDBDB;
	color: #999;
	background-color: #DFDFDF;
	font-size: 1.2em;
	padding: 0.4em 1.2em;
	margin-top: 0.6em;
	text-shadow: 0px 1px 0px #FFF;
	box-shadow: 0px 1px 0px rgba(250, 250, 250, 0.8);
	background: linear-gradient(to bottom, #FFF 0%, #FAFAFA 100%);
	transition: 0.25s;
}
.read_more:hover, .button_ribbon .caption:hover {
	box-shadow: 0px 1px 2px rgba(172, 172, 172, 0.34);
}
.read_more:active, .button_ribbon .caption:active {
	box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.19);
	border: solid 1px #D3D3D3;
}
/*----------Resource------------*/



#intro_demo {
	display: inline-block;
	width: 45%;
	float: left;
	margin-right: 5%;
}
#laptop_demo {
	display: block;
	width: 86%;
	margin: 0px auto;
}
#intro_demo_text {
	float: left;
	width: 40%;
}
.button_submenu .title {
	font: 1.1em MuseoSans_300, Helvetica, Arial;
	margin-bottom: 0.1em;
}
.button_submenu .description {
	font-family: OpenSansLight, Helvetica, Arial;
	font-size: 0.7em;
}
.red_button {
	width: 50%;
	cursor: pointer;
	font: 1em 'OpenSansLight', Helvetica, Arial;
	color: #FFF;
	background-color: #DA6B6B;
	font-size: 1em;
	padding: 0.6em 1.2em;
	margin: 0em auto;
	box-shadow: 0px 1px 0px #FFF;
	transition: 0.25s;
	text-align: center;
}
.button_submenu {
	display: inline-block;
	float: left;
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.button_submenu li {
	cursor: pointer;
	display: inline-block;
	border: solid 1px #DFDFDF;
	color: #8D8D8D;
	background-color: #EBEBEB;
	padding: 0.7em 5%;
	margin-top: 0.3em;
	text-shadow: 0px 1px 0px #FFF;
	box-shadow: 0px 1px 0px #F0F0F0;
	transition: 0.25s;
}
.button_submenu li:hover {
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.12);
	background: #F1F1F1;
}
.button_submenu li:active {
	box-shadow: inset 0px 0px 9px rgba(0, 0, 0, 0.25);
	background: #F1F1F1;
	border-color: #FAFAFA;
}
.icon_resource {
	opacity: 0.8;
	margin-left: -13px;
	float: left;
	height: 50px;
	width: 69px;
	background: url(../images/resource_icons.png) no-repeat
}
.icon_products {
	opacity: 0.1;
	position: absolute;
	top: 0px;
	left: 115px;
	float: left;
	height: 42px;
	width: 48px;
	background: url(../images/resource_icons.png) no-repeat;
}
.icon_contact {
	opacity: 0.8;
	margin-left: -26px;
	float: left;
	height: 65px;
	width: 92px;
	background: url(../images/resource_icons.png) no-repeat;
}
.icon_content {
	max-width: 300px;
	margin-left: 55px;
}
#icon_demo {
	background-position: 0px -5px;
}
#icon_download {
	background-position: 0px -69px;
}
#icon_folder {
	background-position: 0px -144px;
}
#icon_chart {
	background-position: 0px -206px;
}
#icon_slide {
	background-position: 0px -282px;
}
#icon_info {
	background-position: -89px -91px;
}
#icon_users {
	background-position: -89px -5px;
}
#icon_analogica {
	background-position: -200px -6px;
}
#icon_dvr {
	background-position: -200px -64px;
}
#icon_ip {
	background-position: -200px -112px;
}
#icon_hdsdi {
	background-position: -200px -171px;
}
#icon_alarma {
	background-position: -200px -284px;
}
#icon_accesorios {
	background-position: -200px -230px;
}
#icon_outlet{background-position: 	-200px -331px;}

.contact_submenu {
	width: 100%;
}
.contact_submenu li {
	width: 38%;
	float: left;
	height: 70px;
}
.contact_submenu li:first-child {
	margin-right: 3%;
}
.recu_submenu {
	width: 50%;
}
.recu_submenu li {
	width: 90%;
}
/*----------End Resource------------*/

#search {
	opacity: 0.8;
	font-family: Titillium, helvetica, Arial;
	font-size: 0.8em;
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 25%;
	height: 21px;
	border: solid 2px #4E8F50;
	padding: 10px;
	transition: width 0.5s;
	margin: 0px;
}
#search:focus {
	opacity: 1;
	outline: none;
	transition: 0.5s;
}
